<!-- 
    Apttus Deal Manager
    DealSetupConsole
     
    @2012-2013 Apttus Inc. All rights reserved.
 -->
<apex:page standardController="Apttus_DealMgr__Deal__c" 
			extensions="Apttus_DealMgr.DealSetupConsoleController">

    <apex:includeScript value="{!URLFOR($Resource.Apttus_DealMgr__JQueryUILibrary19, 'js/jquery-1.8.3.min.js')}"/>
    <apex:includeScript value="{!URLFOR($Resource.Apttus_DealMgr__JQueryUILibrary19, 'js/jquery-ui-1.9.2.custom.min.js')}"/> 
    <apex:includeScript value="{!URLFOR($Resource.Apttus_DealMgr__FormeeLibrary, '/js/formee.js')}" />
    
    <apex:stylesheet value="{!URLFOR($Resource.Apttus_DealMgr__JQueryUILibrary19, 'css/smoothness/jquery-ui-1.9.2.custom.css')}"/>
    <apex:stylesheet value="{!URLFOR($Resource.Apttus_DealMgr__FormeeLibrary, '/css/formee-style.css')}" />
    <apex:stylesheet value="{!URLFOR($Resource.Apttus_DealMgr__FormeeLibrary, '/css/formee-structure.css')}" />
    <script type="text/javascript">
    
        var j$ = jQuery.noConflict();
        
        j$(document).ready(function(){
            j$( 'div[id$="Header"]' ).each(function(){
                var thisId = j$(this).attr('id');
                if ( (/^id/).test(thisId)){
                    var headerId = j$(this).attr('id');
                    var bodyId = headerId.replace('Header','Block');
                    j$(this).click(function(){
                        j$('#'+bodyId).slideToggle(400);
                
                    })
                }
            })
        })

    </script>
    <style>
        .aptRoundedDiv {
                padding-bottom: 5px;
                background-color: white;
                border: 1px solid #DDD;
                -webkit-border-radius: 6px; /* Safari 3-4, iOS 1-3.2, Android ≤1.6 */
                 border-radius: 6px; /* Opera 10.5, IE9+, Safari 5, Chrome, Firefox 4+, iOS 4, Android 2.1+ */
                /* useful if you don't want a bg color from leaking outside the border: */
                /* -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box; */
                /*-webkit-box-shadow: 0px 0px 4px 0px #000;  Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
                /*box-shadow: 0px 0px 4px 0px #000; /* Opera 10.5, IE9+, Firefox 4+, Chrome 6+, iOS 5 */
                
                /* IE Stuff */      
                zoom: 1; 
                filter: 
                  progid:DXImageTransform.Microsoft.Shadow(color=#000000,direction=0,strength=2),
                  progid:DXImageTransform.Microsoft.Shadow(color=#000000,direction=45,strength=2),
                  progid:DXImageTransform.Microsoft.Shadow(color=#000000,direction=90,strength=2),
                  progid:DXImageTransform.Microsoft.Shadow(color=#000000,direction=135,strength=2),
                  progid:DXImageTransform.Microsoft.Shadow(color=#000000,direction=180,strength=2),
                  progid:DXImageTransform.Microsoft.Shadow(color=#000000,direction=225,strength=2),
                  progid:DXImageTransform.Microsoft.Shadow(color=#000000,direction=270,strength=2),
                  progid:DXImageTransform.Microsoft.Shadow(color=#000000,direction=315,strength=2);
                display:table;
                width:100%;
                 
        }

        .aptGroupHeader {
            background: -moz-linear-gradient(top, rgba(211,211,211,0.65) 0%, rgba(255,255,255,0) 100%);
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(211,211,211,0.65)), color-stop(100%,rgba(255,255,255,0)));
            background: -webkit-linear-gradient(top, rgba(211,211,211,0.65) 0%,rgba(255,255,255,0) 100%);
            background: -o-linear-gradient(top, rgba(211,211,211,0.65) 0%,rgba(255,255,255,0) 100%);
            background: -ms-linear-gradient(top, rgba(211,211,211,0.65) 0%,rgba(255,255,255,0) 100%);
            background: linear-gradient(to bottom, rgba(211,211,211,0.65) 0%,rgba(255,255,255,0) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6d3d3d3', endColorstr='#00ffffff',GradientType=0 );
            height: 40px;
            padding-top: 10px;
            cursor: pointer;
        }
        .aptProductManagementLink{
        
            display:table-cell
        }
        
        .aptPanelGrid{
            width:100%;
            border-spacing: 0px;
        }
        
        .aptPanelGrid tr {
            border-spacing: 0px;
            height: 20px;
        }
        
        .aptPanelGrid td {
            border-spacing: 0px;
        }
                
        .aptPanelColumn{
            width:100%;
            border-spacing: 0px;
        }
        
        .aptPanelColumn a{
            margin-left: 10px;
            font-size:14px;
        }
    
        h2{
            
            font: bold 14px/1.1em Arial,Sans-Serif;
        }
        
        .formee .formee-txt, .formee input[type="text"], .formee input[type="password"], .formee input[type="file"], .formee textarea{
            line-height: 0.7em;
            padding: 5px;
            height: 2.0em;
            width:75%;
            font: normal 14px/1.1em Arial,Sans-Serif;
        } 
        
        .formee {
            font: normal 14px/1.1em Arial,Sans-Serif;
        }
        
        .formee select {
            line-height: 0.7em;
            padding: 2px;
            height: 2.0em;
            width:95%;
        }
        
        .formee legend{
            font-size: 1.5em;
            font-weight: bold;
            margin-left: 3%;
            width: 20%;
        }
                
        .formee-button, .formee input[type="submit"], .formee input[type="button"], .formee input[type="reset"] {
            font-size: 1.2em;
            text-transform:none;
        }
    </style>
			
			
    <form id="idForm" class="formee">

        <apex:outputPanel layout="block" styleClass="aptRoundedDiv" style="margin-right:10px; margin-top:10px;" >
            <div class="aptGroupHeader" id = "idDealGuidanceDimensionHeader">
                <h2 style="margin-left: 1em;">{!$Label.DealSetupConsoleTitle}</h2>
            </div>
            <div class = "grid-12-12" style= "padding-top: 0px;" id = "idDealGuidanceDimensionBlock">
                <div class = "grid-4-12">
                    <div class = "grid-12-12"><apex:outputLink title="{!$Label.apttus_dealmgr__AddDealColorBandsTooltipHelp}" value="{!$Page.Apttus_DealMgr__DealColorBands}?retURL={!$Page.Apttus_DealMgr__DealSetupConsole}&pageMode=EDIT">{!$Label.apttus_dealmgr__AddDealColorBands}</apex:outputLink></div>
                    <div class = "grid-12-12"><apex:outputLink title="{!$Label.apttus_dealmgr__ListOfDealColorBandsTooltipHelp}" value="{!$Page.Apttus_DealMgr__DealColorBands}?retURL={!$Page.Apttus_DealMgr__DealSetupConsole}&pageMode=VIEW">{!$Label.apttus_dealmgr__ListofDealColorBand}</apex:outputLink></div>
                </div>
                <div class = "grid-4-12">
                    <div class = "grid-12-12"><apex:outputLink title="{!$Label.apttus_dealmgr__AddDimensionTooltipHelp}" value="{!$Page.Apttus_DealMgr__DealGuidanceDimension}?retURL={!$Page.Apttus_DealMgr__DealSetupConsole}">{!$Label.apttus_dealmgr__AddDealGuidanceDimension}</apex:outputLink></div>
                    <div class = "grid-12-12"><apex:outputLink title="{!$Label.apttus_dealmgr__ListOfDimensionsTooltipHelp}" value="{!DealGuidanceDimensionNameTabPrefix}/o">{!$Label.apttus_dealmgr__ListofDealGuidanceDimension}</apex:outputLink></div>
                </div>
                <div class = "grid-4-12">
                    <div class = "grid-12-12"><apex:outputLink title="{!$Label.apttus_dealmgr__AddDealGuidanceDimensionSetTooltipHelp}" value="{!$Page.Apttus_DealMgr__DealGuidanceDimensionSet}?retURL={!$Page.Apttus_DealMgr__DealSetupConsole}">{!$Label.apttus_dealmgr__AddDealGuidanceDimensionSet}</apex:outputLink></div>
                    <div class = "grid-12-12"><apex:outputLink title="{!$Label.apttus_dealmgr__ListOfDealGuidanceDimensionSetTooltipHelp}" value="{!DealGuidanceDimensionSetNameTabPrefix}/o">{!$Label.apttus_dealmgr__ListofDealGuidanceDimensionSet}</apex:outputLink></div>
                </div>  
                <div class = "grid-4-12">
                    <div class = "grid-12-12"><apex:outputLink title="{!$Label.apttus_dealmgr__AddDealGuidanceRuleTooltipHelp}" value="{!$Page.Apttus_DealMgr__DealGuidanceRule}?retURL={!$Page.Apttus_DealMgr__DealSetupConsole}">{!$Label.apttus_dealmgr__AddDealGuidanceRule}</apex:outputLink></div>
                    <div class = "grid-12-12"><apex:outputLink title="{!$Label.apttus_dealmgr__ListOfDealGuidanceRuleTooltipHelp}" value="{!DealGuidanceRuleNameTabPrefix}/o">{!$Label.apttus_dealmgr__ListofDealGuidanceRule}</apex:outputLink></div>
                </div>                              
            </div>
                        				           
        </apex:outputPanel>


            
    </form>
</apex:page>