<!-- 
    Apttus Approvals Management
    AgreementApprovalEmail
     
    @2010-2014 Apttus Inc. All rights reserved.

 -->
<apex:component controller="Apttus_Approval.AgreementApprovalEmailController" access="global">
    <apex:attribute name="ApprovalRequestSO" 
                    description="This is the Approval Request SObject." 
                    type="Apttus_Approval__Approval_Request__c" 
                    access="global"
                    assignTo="{!requestSO}" />
    
    <apex:attribute name="ApprovalRecipientSO" 
                    description="This is the Approval Recipient SObject." 
                    type="User" 
                    access="global"
                    assignTo="{!recipientSO}" />
                    
    <apex:outputPanel rendered="{!AreActionsSupported}" >               
        <apex:outputText value="{!$Label.apttus_approval__ApprovalActionLinkInstructionForEmailResponse1}" 
        				 escape="true" 
        				 rendered="{!IsEmailApprovalResponseEnabled}" />
        <apex:outputText value="{!$Label.apttus_approval__ApprovalActionLinkInstruction}" 
        				 rendered="{!NOT(IsEmailApprovalResponseEnabled)}" />
        <br/>
        <br/>
        <apex:outputLink value="{!ReassignPageUrl}">{!$Label.apttus_approval__Reassign}</apex:outputLink>
        <br/>
        <apex:outputLink value="{!ApproveRejectPageUrl}">{!$Label.apttus_approval__ApproveReject}</apex:outputLink>
        <br/>
        <apex:outputLink value="{!AddCommentPageUrl}">{!$Label.apttus_approval__AddComment}</apex:outputLink>
        <br/>
        <br/>
        <apex:outputPanel rendered="{!IsEmailApprovalResponseEnabled}"  >     
        	<apex:outputText value="{!$Label.apttus_approval__ApprovalActionLinkInstructionForEmailResponse2}" 
        					 escape="true" />
        	<br/>
        	<br/>
        	<apex:outputText value="{!$Label.apttus_approval__ApprovalActionLinkInstructionForEmailResponse3}" 
        					 escape="true" />
        	<br/>
        	<br/>
        </apex:outputPanel>
    </apex:outputPanel>
    <apex:outputText value="{!$Label.apttus_approval__AccountName & ': '}" /><apex:outputField value="{!requestSO.Related_Agreement__r.Apttus__Account__r.Name}" />
    <br/>
    <!--<apex:outputText value="{!$Label.AgreementType & ': '}" /><apex:outputText value="{AgreementRecordType}" />
    <br/>-->
    <apex:outputText value="{!$Label.apttus_approval__AgreementName & ': '}" /><apex:outputField value="{!requestSO.Related_Agreement__r.Name}" />
    <br/>
    <apex:outputText value="{!$Label.apttus_approval__Description & ': '}" /><apex:outputField value="{!requestSO.Related_Agreement__r.Apttus__Description__c}" />
    <br/>
    <apex:outputText value="{!$Label.apttus_approval__OwnerFullName & ': '}" /><apex:outputField value="{!requestSO.Related_Agreement__r.Owner.Name}" />
	<br/>
    <apex:outputText value="{!$ObjectType.Apttus__APTS_Agreement__c.Fields.Apttus__FF_Agreement_Number__c.Label & ': '}" /><apex:outputField value="{!requestSO.Related_Agreement__r.Apttus__FF_Agreement_Number__c}" />
    <br/>
    <apex:outputText value="{!$ObjectType.Apttus__APTS_Agreement__c.Fields.Apttus__Status_Category__c.Label & ': '}" /><apex:outputText value="{!requestSO.Related_Agreement__r.Apttus__Status_Category__c}" />
    <br/>
    <apex:outputText value="{!$ObjectType.Apttus__APTS_Agreement__c.Fields.Apttus__Status__c.Label & ': '}" /><apex:outputText value="{!requestSO.Related_Agreement__r.Apttus__Status__c}" />
    <br/>
    <apex:outputText value="{!$ObjectType.Apttus__APTS_Agreement__c.Fields.Apttus__Contract_Start_Date__c.Label & ': '}" /><apex:outputField value="{!requestSO.Related_Agreement__r.Apttus__Contract_Start_Date__c}" />
    <br/>
    <apex:outputText value="{!$ObjectType.Apttus__APTS_Agreement__c.Fields.Apttus__Contract_End_Date__c.Label & ': '}" /><apex:outputField value="{!requestSO.Related_Agreement__r.Apttus__Contract_End_Date__c}" />
    <br/>
    <apex:outputText value="{!$ObjectType.Apttus__APTS_Agreement__c.Fields.Apttus__Total_Contract_Value__c.Label & ': '}" /><apex:outputField value="{!requestSO.Related_Agreement__r.Apttus__Total_Contract_Value__c}" />
    <br/>
    <br/>
    <apex:outputText value="{!AgreementLinkInstruction}" />
    <br/>
    <apex:outputLink value="{!AgreementPageUrl}">{!requestSO.Related_Agreement__r.Name}</apex:outputLink>
    <br/>
    <br/>
    <apex:outputPanel rendered="{!NOT(IsStatusCancelled)}" >    
    	<apex:outputText value="{!$Label.apttus_approval__ApprovalRequestID & ': '}" /><apex:outputField value="{!requestSO.Id}" />
        <br/>
        <apex:outputText value="{!$Label.apttus_approval__ApprovalUserID & ': '}" /><apex:outputField value="{!recipientSO.Id}" />
        <br/>
        <apex:outputText value="{!$ObjectType.Apttus_Approval__Approval_Request__c.Label & ' ' & $Label.apttus_approval__Status & ': '}" /><apex:outputField value="{!requestSO.Apttus_Approval__Approval_Status__c}" />
        <br/>
        <apex:outputText value="{!$ObjectType.Apttus_Approval__Approval_Request__c.Label & ' ' & $Label.apttus_approval__Date & ': '}" /><apex:outputField value="{!requestSO.Apttus_Approval__Date__c}" />
        <br/>
        <apex:outputText value="{!$ObjectType.Apttus_Approval__Approval_Request__c.Label & ' ' & $Label.apttus_approval__AssignedTo & ': '}" /><apex:outputField value="{!requestSO.Apttus_Approval__Assigned_To_Name__c}" />
        <br/>
        <apex:outputText value="{!$ObjectType.Apttus_Approval__Approval_Request__c.Label & ' ' & $Label.apttus_approval__Comments & ': '}" /><apex:outputField value="{!requestSO.Apttus_Approval__Request_Comments__c}" />
        <br/>
        <apex:outputPanel rendered="{!NOT(ISBLANK(submissionComment1))}">
            <apex:outputLabel for="idSubmissionComment1" value="{!$Label[submissionComment1Label] & ': '}" />
            <apex:outputText id="idSubmissionComment1" value="{!submissionComment1}" />
            <br/>
        </apex:outputPanel>
        <apex:outputPanel rendered="{!NOT(ISBLANK(submissionComment2))}">
            <apex:outputLabel for="idSubmissionComment2" value="{!$Label[submissionComment2Label] & ': '}" />
            <apex:outputText id="idSubmissionComment2" value="{!submissionComment2}" />
            <br/>
        </apex:outputPanel>
        <apex:outputPanel rendered="{!NOT(ISBLANK(submissionComment3))}">
            <apex:outputLabel for="idSubmissionComment3" value="{!$Label[submissionComment3Label] & ': '}" />
            <apex:outputText id="idSubmissionComment3" value="{!submissionComment3}" />
            <br/>
        </apex:outputPanel>
        <apex:outputText value="{!$ObjectType.Apttus_Approval__Approval_Request__c.Label & ' ' & $ObjectType.Apttus_Approval__Approval_Request__c.Fields.Apttus_Approval__Approver_Comments__c.Label & ': '}" /><apex:outputField value="{!requestSO.Apttus_Approval__Approver_Comments__c}" />
        <br/>
        
    </apex:outputPanel>
    
    <apex:outputPanel rendered="{!NOT(IsStatusCancelled)}" >    
	    <apex:outputText value="{!$Label.apttus_approval__Approvals & ':'}" />
	    <br/>
    	<table border="1">
			<tr>
			    <th><apex:outputText value="{!$ObjectType.Apttus_Approval__Approval_Request__c.Fields.Apttus_Approval__Step_Name__c.Label}"/></th>
			    <th><apex:outputText value="{!$ObjectType.Apttus_Approval__Approval_Request__c.Fields.Apttus_Approval__Approval_Status__c.Label}"/></th>
			    <th><apex:outputText value="{!$ObjectType.Apttus_Approval__Approval_Request__c.Fields.Apttus_Approval__Date__c.Label}"/></th>
			    <th><apex:outputText value="{!$Label.apttus_approval__AssignedTo}"/></th>
			    <th><apex:outputText value="{!$ObjectType.Apttus_Approval__Approval_Request__c.Fields.Apttus_Approval__DependsOn__c.Label}"/></th>
			    <th><apex:outputText value="{!$ObjectType.Apttus_Approval__Approval_Request__c.Fields.Apttus_Approval__Actual_Approver__c.Label}"/></th>
			    <th><apex:outputText value="{!$ObjectType.Apttus_Approval__Approval_Request__c.Fields.Apttus_Approval__Approver_Comments__c.Label}"/></th>
			    
			</tr>
		 	<apex:repeat value="{!ApprovalHistory}" var="history" >
				<tr>
					<td><apex:outputField value="{!history.Apttus_Approval__Step_Name__c}" /></td>
				    <td><apex:outputField value="{!history.Apttus_Approval__Approval_Status__c}" /></td>
				    <td><apex:outputField value="{!history.Apttus_Approval__Date__c}" /></td>
				    <td><apex:outputField value="{!history.Apttus_Approval__Assigned_To_Name__c}" /></td>
				    <td><apex:outputField value="{!history.Apttus_Approval__DependsOn__c}" /></td>
				    <td><apex:outputField value="{!history.Apttus_Approval__Actual_Approver__c}" /></td>
				    <td><apex:outputField value="{!history.Apttus_Approval__Approver_Comments__c}" /></td>
				    
				</tr>
			</apex:repeat>
		</table>
    </apex:outputPanel>    
    
</apex:component>