<!-- 
    Apttus Contract Management
    AgreementClone
     
    @2009-2014 Apttus Inc. All rights reserved.

 -->
<apex:page standardController="Apttus__APTS_Agreement__c" 
		   extensions="Apttus.AgreementCloneController" >
		   
	<apex:form >	
		<!--  required fields -->
		<apex:outputText value="{!Apttus__APTS_Agreement__c.Name}" rendered="false"/>
		
      	<apex:pageBlock rendered="{!NOT(isInitialized) && NOT(hasErrors)}">
			<apex:pageBlockButtons location="bottom">
				<apex:commandButton value="{!$Label.apttus__Continue}" action="{!onLoad}" />
				<apex:commandButton value="{!$Label.apttus__Cancel}" action="{!doCancel}" immediate="true" />
		    </apex:pageBlockButtons>
		    <apex:pageBlockSection title="{!$Label.apttus__CloneAgreement}" columns="2" collapsible="false">
				<apex:outputField value="{!Apttus__APTS_Agreement__c.Name}"/>
				<apex:outputField value="{!Apttus__APTS_Agreement__c.Apttus__FF_Agreement_Number__c}"/>
				<apex:outputField value="{!Apttus__APTS_Agreement__c.Apttus__Contract_Start_Date__c}"/>
				<apex:outputField value="{!Apttus__APTS_Agreement__c.Apttus__Contract_End_Date__c}"/>
				<apex:outputField value="{!Apttus__APTS_Agreement__c.Apttus__Status__c}"/>
				<apex:outputField value="{!Apttus__APTS_Agreement__c.Apttus__Status_Category__c}"/>
				<apex:outputField value="{!Apttus__APTS_Agreement__c.Apttus__Requestor__c}"/>
				<apex:outputField value="{!Apttus__APTS_Agreement__c.OwnerId}"/>
		    </apex:pageBlockSection>
		</apex:pageBlock>
		
		<apex:pageBlock mode="edit" rendered="{!hasErrors}" >
			<apex:pageMessages />
			<apex:pageBlockButtons location="bottom" >
				<apex:commandButton action="{!doCancel}" value="{!$Label.apttus__Cancel}" immediate="true"/>
			</apex:pageBlockButtons>
		</apex:pageBlock>
	</apex:form>
	
</apex:page>