<!--
    Apttus Config & Pricing
    HelpDoc

    @2014-2015 Apttus Inc. All rights reserved.
 -->
<apex:component controller="Apttus_Config2.HelpDocController"
                access="public"
                allowDML="true"
                layout="block">
    <apex:stylesheet value="{!URLFOR($Resource.Apttus_Config2__ConsoleCSS)}" />

    <apex:includeScript value="{!URLFOR($Resource.Apttus_Config2__JQueryUILibrary19, 'js/jquery-1.8.3.min.js')}" />
    <apex:includeScript value="{!URLFOR($Resource.Apttus_Config2__JQueryUILibrary19, 'js/jquery-ui-1.9.2.custom.min.js')}" />

    <script type="text/javascript">
    var j$ = jQuery.noConflict();

	j$(function() {
		j$( "#tabs" ).tabs();
	});

	j$(function() {
	    j$( ".accordion" ).accordion({
	    	collapsible: true,
	    	active: false,
	    	heightStyle: "content",
            autoHeight: false,
	        clearStyle: true
	    });
	});

    </script>
    
    <apex:outputPanel layout="block"
                      styleClass="aptRoundedDiv"
                      style="margin-right:10px; margin-top:10px;" >
       	<apex:outputPanel styleClass="aptGroupHeader" id="idCPQAdminConsoleHeader" layout="block">
       	  	<h2 id="documentDetailHeader">{!$Label.apttus_config2__FrequentlyAskedQuestions}</h2>
       	</apex:outputPanel>

   	    <div id="tabs">
       	  <ul>
       	  	<apex:variable value="{!1}" var="tabNum" />
       	  	<apex:repeat var="tabInfo" value="{!tabInfoList}">
	       	    <li><a href="#{!tabNum}">{!tabInfo.tabName}</a></li>
	       	    <apex:variable var="tabNum" value="{!tabNum + 1}" />
       	    </apex:repeat> 
       	  </ul>

   	  		<apex:variable value="{!1}" var="tabContentNum" />
       	  	<apex:repeat var="tabInfo" value="{!tabInfoList}">
				<div class="accordion" id="{!tabContentNum}">
		       	  	<apex:repeat var="questionInfo" value="{!tabInfo.questionInfoList}">
							<h3 class="questionHeader">{!questionInfo.question}</h3>
							<p>{!questionInfo.answer}</p>
					</apex:repeat>
				</div>
				<apex:variable var="tabContentNum" value="{!tabContentNum + 1}" />
       	    </apex:repeat> 
       	</div>

    </apex:outputPanel>
</apex:component>