<!-- 
    Apttus Config & Pricing
    OptionGroup
     
    @2014-2015 Apttus Inc. All rights reserved.
 -->
<apex:component controller="Apttus_Config2.OptionGroupController" 
                access="public" 
                allowDML="true" 
                layout="block">    
    <style>        
        .content {
            font-size: 10px; 
            font-family: verdana;
        }
    </style>
    <script type="text/javascript">
    //Assignment to global var for autosearch
    function setNewOptionGroupName(closeOnComplete) {
        if (j$.APTTUS) {
            j$.APTTUS.newOptionGroupName = j$('.idNewOptionGroupNameField').prop('value');
        }
        //Disabled to avoid repeat clicks
        j$('.save-button').prop("disabled", true).addClass("button-disabled");
        isCloseOptionGroup = closeOnComplete;
    }

    //Automatic window close
    var isCloseOptionGroup = false;
    function closeOptionGroup() {
        if (!isCloseOptionGroup) {
            return;
        }
        setTimeout(function() {
            j$("#idNewOptionGroupPopup").dialog('close');
        }, 1500);
    }
    </script>
    <apex:form styleClass="formee" id="idNewOptionGroupForm">
        <apex:pageMessages />
        <div id="idCreateOptionGroup" 
                class="content" 
                style="width:420px;">
            <div>
                <div class="grid-4-12" style="width:120px;">          
                    <apex:outputLabel id="idNewOptionGroupName" >
                        {!JSENCODE($Label.apttus_config2__OptionGroup)} {!JSENCODE($ObjectType.Apttus_Config2__ClassificationHierarchy__c.Fields.Name.Label)}
                    </apex:outputLabel> 
                </div>            
                <div class="grid-4-12" style="width: 250px; float:right;">
                    <apex:inputField id="idNewOptionGroupNameField" 
                                    value="{!optionGroupSO.Name}"
                                    styleClass="idNewOptionGroupNameField"/>
                </div>
            </div>
            <br />
            <div class="grid-4-12" style="text-align: right; width:100%;">
                <apex:commandButton id="idCreateOptionGroupButton" 
                                    action="{!doCreateOptionGroup}" 
                                    value="{!$Label.apttus_config2__Save}"
                                    onclick="setNewOptionGroupName(false);"
                                    styleClass="save-button"
                                    rerender="idNewOptionGroupForm, idCloseOtionGroupPanel"/>             
            </div>
        </div>
    </apex:form>

    <!-- Window close script should only run when no errors were found -->
    <apex:outputPanel id="idCloseOtionGroupPanel" rendered="{!NOT(HasErrors)}">
        <script>
        closeOptionGroup();
        isCloseOptionGroup = false;
        </script>
    </apex:outputPanel>
</apex:component>