<apex:page standardController="Case" extensions="AccountDelinkController" sidebar="true" standardStylesheets="true" tabStyle="Case" >
    <script>
if({!shwSubmitForApprovalMsg }){
    var msgClosed = '{!$Label.Record_successfully_Submitted_for_Approval}';
    alert(msgClosed );
    var caseId= "{!CaseObj.id}";
    var urlstr = "/" +caseId
    window.open(urlstr,"_parent");
}
</script>
    <apex:sectionHeader title="{!$Label.Account_Delink}"/>
    <chatter:feed entityId="{!CaseObj.id}" rendered="{!onView}"/>
    <!-- Form for New Case -->
    <apex:form id="NewPage" rendered="{!OnNew}" > 
        <apex:pageMessages ></apex:pageMessages>
        <apex:pageBlock Mode="Edit" >
        <apex:pageBlockButtons location="bottom" >
        <apex:commandButton action="{!cancel}" value="{!$Label.Cancel}" rendered="{!!showTableNoCase }"/>
                        <apex:commandButton action="{!openCase}" value="Open Case" rendered="{!showTableCaseExits }"/>
        </apex:pageBlockButtons>
        <apex:pageBlockSection columns="4" >
                <table columns="3" border="" cellpadding="15" >
                  <tr> 
                  <td></td><td></td><td></td>    
                  <td align="right" colspan="2" width="">
                    <apex:pageBlockSectionItem id="PAccount"  >
                    <apex:outputLabel >{!$Label.Parent_Account}</apex:outputLabel>
                    <apex:inputField value="{!aParentObj.ParentId}" required="true">
                       <!-- <apex:actionSupport event="onchange" action="{!searchChildAccount}" reRender="NewPage"  />-->
                    </apex:inputField> 
                </apex:pageBlockSectionItem>
                  </td>
                  <td align="left">  
                  </td>
                  </tr>
                  <tr>
                   <td></td><td></td><td></td><td></td> 
                  <td>
                   <apex:pageBlockSectionItem id="Notes"  >
                    <apex:outputLabel >{!$Label.Notes}</apex:outputLabel>
                    <apex:inputField value="{!CaseObj.Notes__c}">
                        <apex:actionSupport event="onchange" action="{!searchChildAccount}" reRender="NewPage"  />
                    </apex:inputField> 
                    </apex:pageBlockSectionItem>
                  </td>
                  </tr>
                   <tr> 
                  <td></td><td></td><td></td>        
                  <td align="right" colspan="2" width="">
                    <apex:pageBlockSectionItem id="SearchString"   >
                     <apex:outputLabel >Search Filter</apex:outputLabel>
                     <apex:inputText value="{!searchString}" />
                     </apex:pageBlockSectionItem>
                  </td>
                  <td align="left">
                   <apex:commandButton action="{!searchChildAccount}" status="LoadingRecords1" reRender="NewPage"  value="{!$Label.LoadExistingChildAccounts}" />     
                  </td>
                  </tr>
                  </table>
            </apex:pageBlockSection>
             <apex:actionStatus id="LoadingRecords1">                   
                <apex:facet name="start">
                <div class="waitingHolder" style="top: 12%; width: 200px; ">
                <img class="waitingImage" src="/img/loading32.gif" width="18px" height="18px"/>
                <span class="waitingDescription"><font size="2">Loading Records...</font></span>
                </div>                
                </apex:facet>
                <apex:facet name="stop"></apex:facet>
            </apex:actionStatus>
         <apex:pageMessage severity="warning" strength="1" summary="{!$Label.DelinkWarningLabel}" rendered="{!showTableCaseExits}" ></apex:pageMessage>
            <apex:pageBlockButtons location="bottom" >
                <apex:commandButton action="{!saveCase}" value="{!$Label.Save_as_Draft}" rendered="{!showTableNoCase}"/>
                <apex:commandButton action="{!cancel}" value="{!$Label.Cancel}" rendered="{!showTableNoCase }"/>
                <apex:commandButton action="{!submitforApproval}" value="{!$Label.Submit_for_Approval}" rendered="{!showTableNoCase}" />
            </apex:pageBlockButtons>
            <!-- Select Parent Account -->
            <apex:outputPanel id="ChildAcc" >
            <apex:pageblockSection title="{!$Label.Existing_Children_Accounts}" id="ChildAccNoCase" rendered="{!showTableNoCase}" columns="1" >
                <apex:outputLabel style="font-size:15px;color:#0B0B61;margin-top:35px;" rendered="{!plusRec}"><b> {!con.ResultSize}+ Child Accounts retrieved</b></apex:outputLabel>
                <apex:outputLabel style="font-size:15px;color:#0B0B61;margin-top:35px;" rendered="{!!plusRec}"><b> {!con.ResultSize} Child Accounts retrieved</b></apex:outputLabel>
                
                    <apex:pageBlockTable value="{!lstAccWrprDispaly}" var="li" id="table" >
                        <apex:column headerValue="">
                            <apex:facet name="header">
                                <apex:inputCheckbox >
                                <apex:actionSupport event="onclick" action="{!doSelectedAccounts}" status="addingrecords" onsubmit="checkAll(this,'checkedone')" rerender="ChildAcc,tablefooter"/>
                            </apex:inputCheckbox>
                            </apex:facet>
                             <apex:actionStatus id="addingrecords">                   
                                <apex:facet name="start">
                                <div class="waitingHolder" style="top: 12%; width: 200px; ">
                                <img class="waitingImage" src="/img/loading32.gif" width="18px" height="18px"/>
                                <span class="waitingDescription"><font size="2">Updating...</font></span>
                                </div>                
                                </apex:facet>
                                <apex:facet name="stop"></apex:facet>
                            </apex:actionStatus>
                            <apex:inputCheckbox value="{!li.selected}" id="checkedone">
                            <apex:actionSupport event="onclick" action="{!doSelectedAccounts}"  status="addingrecords" rerender="ChildAcc"/>
                            </apex:inputCheckbox>
                        </apex:column>
                        <apex:column headerValue="{!$Label.Name}"  >
                        <apex:commandLink target="_blank" action="{!openAccount}" value="{!li.aObj.Name}" >
                                <apex:param name="CaseID" assignTo="{!selectedAccountID }"  value="{!li.aObj.Id}"/>
                            </apex:commandLink>
                            <apex:facet name="header">
                                    <apex:commandLink reRender="ChildAcc" action="{!searchChildAccount}" value="Name{!IF(sortExpression=='Name',IF(sortDirection='ASC','▼','▲'),'')}">
                                      <apex:param value="Name" name="column" assignTo="{!sortExpression}" ></apex:param>
                                    </apex:commandLink>
                                </apex:facet>
                        </apex:column>
                        <apex:column value="{!li.aObj.Trade_Name__c}">
                        <apex:facet name="header">
                                    <apex:commandLink reRender="ChildAcc" action="{!searchChildAccount}" value="Trade Name{!IF(sortExpression=='Trade_Name__c',IF(sortDirection='ASC','▼','▲'),'')}">
                                      <apex:param value="Trade_Name__c" name="column" assignTo="{!sortExpression}" ></apex:param>
                                    </apex:commandLink>
                                </apex:facet>
                        </apex:column>
                        <apex:column value="{!li.aObj.Internal_Duns__c}">
                         <apex:facet name="header">
                                    <apex:commandLink reRender="ChildAcc" action="{!searchChildAccount}" value="DUNS{!IF(sortExpression=='',IF(sortDirection='ASC','▼','▲'),'')}">
                                      <apex:param value="Internal_Duns__c" name="column" assignTo="{!sortExpression}" ></apex:param>
                                    </apex:commandLink>
                                </apex:facet>
                        </apex:column>
                        <apex:column value="{!li.aObj.Owner.Name}">
                        <apex:facet name="header">
                                    <apex:commandLink reRender="ChildAcc" action="{!searchChildAccount}" value="Account Owner{!IF(sortExpression=='Owner.Name',IF(sortDirection='ASC','▼','▲'),'')}">
                                      <apex:param value="Owner.Name" name="column" assignTo="{!sortExpression}" ></apex:param>
                                    </apex:commandLink>
                                </apex:facet>
                        </apex:column>
                        <apex:column value="{!li.aObj.Owner.Channel__c}">
                         <apex:facet name="header">
                                    <apex:commandLink reRender="ChildAcc" action="{!searchChildAccount}" value="Channel{!IF(sortExpression=='Owner.Channel__c',IF(sortDirection='ASC','▼','▲'),'')}">
                                      <apex:param value="Owner.Channel__c" name="column" assignTo="{!sortExpression}" ></apex:param>
                                    </apex:commandLink>
                                </apex:facet>
                        </apex:column>
                        <apex:column value="{!li.aObj.Customer_Status__c}">
                        <apex:facet name="header">
                                    <apex:commandLink reRender="ChildAcc" action="{!searchChildAccount}" value="Customer Status{!IF(sortExpression=='Customer_Status__c',IF(sortDirection='ASC','▼','▲'),'')}">
                                      <apex:param value="Customer_Status__c" name="column" assignTo="{!sortExpression}" ></apex:param>
                                    </apex:commandLink>
                                </apex:facet>
                        </apex:column>
                        <apex:column value="{!li.ActiveMSD}" headerValue="{!$Label.Active_MSD}"/>
                    </apex:pageBlockTable>
                    
                </apex:pageblockSection>
                <apex:outputPanel id="tablefooter" rendered="{!showTableNoCase}" >
                    <table width="100%" border="" columns="3">
                    <tr>
                    <td width="15%" align="center" >
                        <span class="right">
                        <apex:outputLabel for="pageSizeOptions"><b>Show</b></apex:outputLabel>
                        <apex:selectList value="{!con.pageSize}" size="1" id="pageSizeOptions">
                            <apex:selectOption itemValue="20" itemLabel="20"/>
                            <apex:selectOption itemValue="50" itemLabel="50"/>
                            <apex:selectOption itemValue="100" itemLabel="100"/>
                            <apex:selectOption itemValue="200" itemLabel="200"/>
                            <apex:actionSupport event="onchange" status="LoadingRecords" rerender="table, tablefooter" />
                        </apex:selectList>
                        </span>
                    </td>
                    <td align="left" width="25%">
                    <apex:outputLabel ><b> Selected: {!selectedAccSize}</b></apex:outputLabel>
                    </td>
                    <td align="left" width="60%">
                     <apex:panelGrid columns="4" >
                        <apex:commandLink action="{!first}" reRender="table, tablefooter">First</apex:commandlink>
                        <apex:commandLink action="{!previous}" rendered="{!hasPrevious}" reRender="table,tablefooter">Previous</apex:commandlink>
                        <apex:commandLink action="{!next}" rendered="{!hasNext}" reRender="table,tablefooter">Next</apex:commandlink>
                        <apex:commandLink action="{!last}" reRender="table,tablefooter">Last</apex:commandlink>
                    </apex:panelGrid>
                    </td>
                </tr>
                </table>
         <apex:actionStatus id="LoadingRecords">                   
        <apex:facet name="start">
        <div class="waitingHolder" style="top: 12%; width: 200px; ">
        <img class="waitingImage" src="/img/loading32.gif" width="18px" height="18px"/>
        <span class="waitingDescription"><font size="2">Loading...</font></span>
        </div>                
        </apex:facet>
        <apex:facet name="stop"></apex:facet>
        </apex:actionStatus>
                </apex:outputPanel>
                <apex:pageblockSection title="{!$Label.Case_Details}" id="ChildAccWithCase" rendered="{!showTableCaseExits }" columns="1"  >
                    <apex:pageBlockTable value="{!listCaseObj}" var="li" id="table2"  >
                        <apex:column headerValue="{!$Label.Case_Number}" >
                            <apex:commandLink target="_blank" action="{!openCase}" value="{!li.CaseNumber}" >
                                <apex:param name="CaseID" assignTo="{!selectedCaseID}"  value="{!li.Id}"/>
                            </apex:commandLink>
                        </apex:column>
                        <apex:column value="{!li.Status}" headerValue="Case Status"/>
                    </apex:pageBlockTable>    
                </apex:pageblockSection>
                <apex:outputlabel rendered="{!showMessage}" value="{!$Label.Acoount_Delink_Message}" style="font-weight:Bold"></apex:outputlabel>
            </apex:outputPanel>
        </apex:pageBlock>     
    </apex:form>
    <!-- Form for Edit Case -->
    <apex:form rendered="{!onEdit}" id="EditPage">
        <apex:pageBlock Mode="Edit" >
            <apex:pageBlockButtons location="bottom" >
                <apex:commandButton action="{!saveCase}" value="{!$Label.Save_as_Draft}" rendered="{!If(listCaseObj[0].Status="New", true,false)}" />
                <apex:commandButton action="{!saveCase}" value="{!$Label.Save}" rendered="{!If(listCaseObj[0].Status!="New", true,false)}" />
                <apex:commandButton action="{!cancel}" value="{!$Label.Cancel}"/>
                <apex:commandButton action="{!submitforApproval}" value="{!$Label.Submit_for_Approval}" rendered="{!If(listCaseObj[0].Status="New", true,false)}"/>
            </apex:pageBlockButtons>
            <!--Show Parent Account as read only -->
            <apex:pageBlockSection columns="1" >
                <apex:pageBlockSectionItem id="pbSec"  >
                    <apex:outputLabel >{!$Label.Parent_Account}</apex:outputLabel>
                    <apex:outputField value="{!aParentObj.ParentId}"/>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem id="Notes"  >
                    <apex:outputLabel >{!$Label.Notes}</apex:outputLabel>
                    <apex:inputField value="{!CaseObj.Notes__c}">
                        <apex:actionSupport event="onchange" action="{!searchChildAccount}" reRender="NewPage"  />
                    </apex:inputField> 
                </apex:pageBlockSectionItem>
                
            </apex:pageBlockSection>
            <br/><br/>
            <!--Show Child Accounts already added to be delinked. User can remove already existing child Accounts -->
             <apex:pageBlock mode="Edit" >
             <apex:pageBlockButtons location="bottom" >
                <apex:commandButton action="{!remove}" value="{!$Label.Remove}" />
            </apex:pageBlockButtons>
            <apex:pageblockSection title="{!$Label.DelinkAcc}" id="ChildAccSelected"  rendered="{!showTableCaseExits }" columns="1" >
                <apex:pageblockTable value="{!lstAccselected}" var="li" id="childAccountsonEdit" >
                   <apex:column headerValue="">
                            <apex:facet name="header">
                                <apex:inputCheckbox onclick="checkAll(this,'checkDone')"/>
                            </apex:facet>
                            <apex:inputCheckbox value="{!li.selected}" id="checkDone"/>
                        </apex:column>
                        <apex:column headerValue="{!$Label.Account_Name}" >
                            <apex:commandLink target="_blank" action="{!openAccount}" value="{!li.aObj.Name}" >
                                <apex:param name="CaseID" assignTo="{!selectedAccountID }"  value="{!li.aObj.Id}"/>
                            </apex:commandLink>
                        </apex:column>
                        <apex:column value="{!li.aObj.Trade_Name__c}"/>
                        <apex:column value="{!li.aObj.Internal_Duns__c}"/>
                        <apex:column value="{!li.aObj.Owner.Name}"/>
                        <apex:column value="{!li.aObj.Owner.Channel__c}"/>
                        <apex:column value="{!li.aObj.Customer_Status__c}"/>
                        <apex:column value="{!li.ActiveMSD}" headerValue="{!$Label.Active_MSD}"/>
                </apex:pageblockTable>
            </apex:pageBlockSection>
             </apex:pageBlock>
             <!--Show Child Accounts available to be delinked. User can add child accounts to the Case -->
             <apex:pageBlock mode="Edit">
            
              <apex:pageBlockButtons location="bottom" >
                <apex:commandButton action="{!add}" value="Add" rendered="{!if(lstAccWrprDispaly.size>0,true,false)}"/>
            </apex:pageBlockButtons>
            <apex:pageMessages ></apex:pageMessages>
            <apex:pageblockSection title="Search Filter" id="ChildAccAvailableSearchFilter" rendered="{!showTableCaseExits }" columns="4">
            <table columns="3" border="" cellpadding="15" >
                  <tr> 
                  <td></td><td></td><td></td>        
                  <td align="right" colspan="2" width="">
                    <apex:pageBlockSectionItem id="SearchString"   >
                     <apex:outputLabel >Search Filter</apex:outputLabel>
                     <apex:inputText value="{!searchString}" />
                     </apex:pageBlockSectionItem>
                  </td>
                  <td align="left">
                   <apex:commandButton action="{!searchChildAccount}" status="LoadingRecords3" value="{!$Label.LoadExistingChildAccounts}" />     
                  </td>
                  </tr>
                  </table>
            </apex:pageblockSection>
             <apex:actionStatus id="LoadingRecords3">                   
                <apex:facet name="start">
                <div class="waitingHolder" style="top: 12%; width: 200px; ">
                <img class="waitingImage" src="/img/loading32.gif" width="18px" height="18px"/>
                <span class="waitingDescription"><font size="2">Loading Records...</font></span>
                </div>                
                </apex:facet>
                <apex:facet name="stop"></apex:facet>
            </apex:actionStatus>
            <apex:pageblockSection title="{!$Label.ChildAccDelinked}" id="ChildAccAvailable" rendered="{!showTableCaseExits }" columns="1">
           <apex:outputLabel style="font-size:15px;color:#0B0B61;margin-top:35px;" rendered="{!plusRec}"><b> {!con.ResultSize}+ Child Accounts retrieved</b></apex:outputLabel>
                <apex:outputLabel style="font-size:15px;color:#0B0B61;margin-top:35px;" rendered="{!!plusRec}"><b> {!con.ResultSize} Child Accounts retrieved</b></apex:outputLabel>
      
               <apex:pageBlockTable value="{!lstAccNoCaseDispaly}" var="li" id="table">
                        <apex:column headerValue="">
                            <apex:facet name="header">
                                <apex:inputCheckbox >
                                <apex:actionSupport event="onclick" action="{!doSelectedAccounts}" status="addingrecords" onsubmit="checkAll(this,'checkedone2')" rerender="ChildAccAvailable,tablefooter2"/>
                            </apex:inputCheckbox>
                            </apex:facet>
                            <apex:inputCheckbox value="{!li.selected}" id="checkedone2" >
                            <apex:actionSupport event="onclick" action="{!doSelectedAccounts}" status="addingrecords" rerender="ChildAccAvailable,tablefooter2"/>
                            </apex:inputCheckbox>
                             <apex:actionStatus id="addingrecords">                   
                                <apex:facet name="start">
                                <div class="waitingHolder" style="top: 12%; width: 200px; ">
                                <img class="waitingImage" src="/img/loading32.gif" width="18px" height="18px"/>
                                <span class="waitingDescription"><font size="2">Updating...</font></span>
                                </div>                
                                </apex:facet>
                                <apex:facet name="stop"></apex:facet>
                            </apex:actionStatus>
                        </apex:column>
                        <apex:column headerValue="{!$Label.Name}" >
                            <apex:commandLink target="_blank" action="{!openAccount}" value="{!li.aObj.Name}" >
                                <apex:param name="CaseID" assignTo="{!selectedAccountID }"  value="{!li.aObj.Id}"/>
                            </apex:commandLink>
                            <apex:facet name="header">
                                    <apex:commandLink reRender="ChildAccAvailable" action="{!searchChildAccount}" value="Name{!IF(sortExpression=='Name',IF(sortDirection='ASC','▼','▲'),'')}">
                                      <apex:param value="Name" name="column" assignTo="{!sortExpression}" ></apex:param>
                                    </apex:commandLink>
                                </apex:facet>
                        </apex:column>
                        <apex:column value="{!li.aObj.Trade_Name__c}">
                        <apex:facet name="header">
                                    <apex:commandLink reRender="ChildAccAvailable" action="{!searchChildAccount}" value="Trade Name{!IF(sortExpression=='Trade_Name__c',IF(sortDirection='ASC','▼','▲'),'')}">
                                      <apex:param value="Trade_Name__c" name="column" assignTo="{!sortExpression}" ></apex:param>
                                    </apex:commandLink>
                                </apex:facet>
                        </apex:column>
                        <apex:column value="{!li.aObj.Internal_Duns__c}">
                         <apex:facet name="header">
                                    <apex:commandLink reRender="ChildAccAvailable" action="{!searchChildAccount}" value="DUNS(D&B){!IF(sortExpression=='Internal_Duns__c',IF(sortDirection='ASC','▼','▲'),'')}">
                                      <apex:param value="Internal_Duns__c" name="column" assignTo="{!sortExpression}" ></apex:param>
                                    </apex:commandLink>
                                </apex:facet>
                        </apex:column>
                        <apex:column value="{!li.aObj.Owner.Name}">
                        <apex:facet name="header">
                                    <apex:commandLink reRender="ChildAccAvailable" action="{!searchChildAccount}" value="Account Owner{!IF(sortExpression=='Owner.Name',IF(sortDirection='ASC','▼','▲'),'')}">
                                      <apex:param value="Owner.Name" name="column" assignTo="{!sortExpression}" ></apex:param>
                                    </apex:commandLink>
                                </apex:facet>
                        </apex:column>
                        <apex:column value="{!li.aObj.Owner.Channel__c}">
                         <apex:facet name="header">
                                    <apex:commandLink reRender="ChildAccAvailable" action="{!searchChildAccount}" value="Channel{!IF(sortExpression=='Owner.Channel__c',IF(sortDirection='ASC','▼','▲'),'')}">
                                      <apex:param value="Owner.Channel__c" name="column" assignTo="{!sortExpression}" ></apex:param>
                                    </apex:commandLink>
                                </apex:facet>
                        </apex:column>
                        <apex:column value="{!li.aObj.Customer_Status__c}">
                        <apex:facet name="header">
                                    <apex:commandLink reRender="ChildAccAvailable" action="{!searchChildAccount}" value="Customer Status{!IF(sortExpression=='Customer_Status__c',IF(sortDirection='ASC','▼','▲'),'')}">
                                      <apex:param value="Customer_Status__c" name="column" assignTo="{!sortExpression}" ></apex:param>
                                    </apex:commandLink>
                                </apex:facet>
                        </apex:column>
                        <apex:column value="{!li.ActiveMSD}" headerValue="{!$Label.Active_MSD}"/>
                    </apex:pageBlockTable>
            </apex:pageBlockSection>
            <apex:outputPanel id="tablefooter2" rendered="{!showTableCaseExits}" >
                    <table width="100%" border="" columns="3">
                    <tr>
                    <td width="15%" align="center" >
                        <span class="right">
                        <apex:outputLabel for="pageSizeOptions"><b>Show</b></apex:outputLabel>
                        <apex:selectList value="{!con.pageSize}" size="1" id="pageSizeOptions">
                            <apex:selectOption itemValue="20" itemLabel="20"/>
                            <apex:selectOption itemValue="50" itemLabel="50"/>
                            <apex:selectOption itemValue="100" itemLabel="100"/>
                            <apex:selectOption itemValue="200" itemLabel="200"/>
                            <apex:actionSupport event="onchange" status="LoadingRecords4" rerender="ChildAccNoCase, tablefooter" />
                        </apex:selectList>
                        </span>
                    </td>
                    <td align="left" width="25%">
                    <apex:outputLabel ><b> Selected: {!selectedAccSize}</b></apex:outputLabel>
                    </td>
                    <td align="left" width="60%">
                     <apex:panelGrid columns="4" >
                        <apex:commandLink action="{!first}" reRender="ChildAccNoCase, tablefooter">First</apex:commandlink>
                        <apex:commandLink action="{!previous}" rendered="{!hasPrevious}" reRender="ChildAccNoCase,tablefooter">Previous</apex:commandlink>
                        <apex:commandLink action="{!next}" rendered="{!hasNext}" reRender="ChildAccNoCase,tablefooter">Next</apex:commandlink>
                        <apex:commandLink action="{!last}" reRender="ChildAccNoCase,tablefooter">Last</apex:commandlink>
                    </apex:panelGrid>
                    </td>
                </tr>
                </table>
                 <apex:actionStatus id="LoadingRecords4">                   
                    <apex:facet name="start">
                    <div class="waitingHolder" style="top: 12%; width: 200px; ">
                    <img class="waitingImage" src="/img/loading32.gif" width="18px" height="18px"/>
                    <span class="waitingDescription"><font size="2">Loading...</font></span>
                    </div>                
                    </apex:facet>
                    <apex:facet name="stop"></apex:facet>
                </apex:actionStatus>
            </apex:outputPanel>
            </apex:pageBlock>
        </apex:pageBlock>
    </apex:form>
      <!-- Form for View Case -->
     <apex:form rendered="{!onView}" id="DetailPage">
        <apex:pageBlock Mode="Detail" title="{!$Label.Case_Details}"   >
            <apex:pageBlockButtons >
                <apex:commandButton action="{!onEdit}" value="{!$Label.Edit}" rendered="{!showEditonDetail}"/>
                <apex:commandButton action="{!Delete}" value="Delete" rendered="{!showDeleteonDetail}" />
                <apex:commandButton action="{!submitforApproval}" value="{!$Label.Submit_for_Approval}" rendered="{!shwSubmitForApproval}"/>
                <apex:commandButton action="{!ApproveRequest}" value="{!$Label.Approve}" rendered="{!showApprovalButtons}"/>
                <apex:commandButton action="{!RejectRequest}" value="{!$Label.Reject}" rendered="{!showApprovalButtons}"/>
            </apex:pageBlockButtons>
            <!--Show Parent Account as read only -->
            <apex:pageBlockSection >
                <apex:pageBlockSectionItem id="ParentAcc"  >
                    <apex:outputLabel >{!$Label.Parent_Account}</apex:outputLabel>
                    <apex:outputField value="{!aParentObj.ParentId}"/>
                </apex:pageBlockSectionItem>
                <apex:outputField value="{!listCaseObj[0].Status}"/>
                <apex:pageBlockSectionItem id="PAccOwner"  >
                    <apex:outputLabel >{!$Label.Parent_Account_Owner}</apex:outputLabel>
                    <apex:outputField value="{!aParentRec.Owner.Name}"/>
                </apex:pageBlockSectionItem>
                 <apex:outputField value="{!CaseObj.CaseNumber}"/>
                <apex:pageBlockSectionItem id="AccOwnerManager"  >
                    <apex:outputLabel >{!$Label.Owner_Manager}</apex:outputLabel>
                    <apex:outputField value="{!aParentRec.Owner.ManagerID}"/>
                </apex:pageBlockSectionItem>
                    <apex:outputField value="{!listCaseObj[0].CreatedById}"/>
                <apex:pageBlockSectionItem id="UsrChannel"  >
                    <apex:outputLabel > User Channel</apex:outputLabel>
                    <apex:outputField value="{!aParentRec.Owner.Channel__c}"/>
                </apex:pageBlockSectionItem>
                <apex:outputField value="{!listCaseObj[0].Subject}"/>
               <apex:outputField value="{!aParentRec.Customer_Status__c}"/>
               <apex:outputField value="{!listCaseObj[0].Notes__c}"/>
                <apex:pageBlockSectionItem id="ActMSDParent"  >
                    <apex:outputLabel >{!$Label.Active_MSD}</apex:outputLabel>
                    <apex:outputLabel >{!ActiveMSDParent}</apex:outputLabel>
                </apex:pageBlockSectionItem>
            </apex:pageBlockSection>
            <br/><br/>
            <!--Show Child Accounts already added to be delinked. User can remove already existing child Accounts -->
             <apex:pageBlock mode="Detail" >
            <apex:pageblockSection title="{!$Label.DelinkAcc}" id="ChildAccSelected"  rendered="{!showTableCaseExits}" columns="1" >
                <apex:pageblockTable value="{!lstAccselected}" var="li" id="childAccountsonEdit" >
                        <apex:column headerValue="{!$Label.Account_Name}" >
                            <apex:commandLink target="_blank" action="{!openAccount}" value="{!li.aObj.Name}" >
                                <apex:param name="CaseID" assignTo="{!selectedAccountID }"  value="{!li.aObj.Id}"/>
                            </apex:commandLink>
                        </apex:column>
                        <apex:column value="{!li.aObj.Trade_Name__c}"/>
                        <apex:column value="{!li.aObj.Internal_Duns__c}"/>
                        <apex:column value="{!li.aObj.Owner.Name}" headerValue="Account Owner"/>
                        <apex:column value="{!li.aObj.Owner.Channel__c}"/>
                        <apex:column value="{!li.aObj.Customer_Status__c}"/>
                        <apex:column value="{!li.ActiveMSD}" headerValue="{!$Label.Active_MSD}"/>
                </apex:pageblockTable>
            </apex:pageBlockSection>
            </apex:pageBlock>
        </apex:pageBlock>
    </apex:form>
     <apex:relatedList list="ProcessSteps" >
     <apex:facet name="header" ><font size="2" color="Black"><b>{!$Label.Approval_History}</b></font></apex:facet>
     </apex:relatedList>
  
    <script type="text/javascript">
        function checkAll(cb,cbid){
            var inputElem = document.getElementsByTagName("input");                    
            for(var i=0; i<inputElem.length; i++){            
                if(inputElem[i].id.indexOf(cbid)!=-1){                                       
                    inputElem[i].checked = cb.checked;
                }
            }
        }
    </script>
</apex:page>