<apex:page controller="BillingAccountOnOPP_Cotroller" showHeader="false" sidebar="false">
  <script type="text/javascript">
       function enableDisable(cb){
            var inputElem = document.getElementsByTagName("input");
            if (cb.checked == true) {
                for (var i=0; i<inputElem.length; i++) {
                    if (inputElem[i].id.indexOf("looped") != -1 && inputElem[i].id != cb.id)
                        inputElem[i].checked = false;
                }
            } 
        }
    </script>
  <apex:form >
      <apex:pageBlock >
          <apex:pageBlockButtons location="bottom" >
              <apex:commandButton action="{!selectBA}" value="Select" disabled="{!shouldRedirect}"  />
          </apex:pageBlockButtons>
          <apex:pageBlockTable value="{!lstBAWrapper}" var="ba" >
              <apex:column >
                  <apex:inputCheckbox value="{!ba.isSelected }" id="looped" onclick="enableDisable(this)" disabled="{!shouldRedirect}"/>
              </apex:column>
              <apex:column value="{!ba.baRec.Name}"/>  
         </apex:pageBlockTable> 
         <apex:outputPanel id="redirectPanel" >
         <apex:outputText rendered="{!shouldRedirect}">
                <script type="text/javascript">
                  window.top.location.href = '{!Url}';
                </script>
            </apex:outputText>
         </apex:outputPanel>
      </apex:pageBlock>
  </apex:form>
</apex:page>