<apex:page controller="CampaignCallDownController" action="{!campaignCheck}"> 

  <apex:sectionHeader title="Call Down List" />
  <apex:form id="calls"> 
    <apex:pageBlock >
    
    <table style="width:600px" >
        <tr>
          <td><b>Campaign</b></td>
          <td><apex:selectList value="{!camp}" size="1">
            <apex:selectOptions value="{!campaignItems}"/>
            <apex:actionSupport event="onchange" status="counterStatus" action="{!newCampaignRefresh}" rerender="calls, status, callList, owners, goToCampaign"/>
        </apex:selectList></td> 
        <td><apex:outputLink id="goToCampaign" Onclick="myWindow=window.open('{!$Site.Prefix}/apex/CampaignCustomDetailsTemplate?id={!camp}','mywin', 'height=1000,width=1000,Scrollbars=1'); return false;" rendered="{!IF((hasCampaignID && camp!='ALL'),true,false)}">Go to Campaign</apex:outputLink></td>       
          </tr>

        </table>
    <!--
    <apex:selectList value="{!camp}" size="1">Campaign:
            <apex:selectOptions value="{!campaignItems}"/>
            <apex:actionSupport event="onchange" status="counterStatus" action="{!newCampaignRefresh}" rerender="calls, status, callList, owners, goToCampaign"/>
        </apex:selectList>&nbsp;&nbsp;
        <apex:outputLink id="goToCampaign" Onclick="myWindow=window.open('{!$Site.Prefix}/apex/CampaignCustomDetailsTemplate?id={!camp}','mywin', 'height=1000,width=1000,Scrollbars=1'); return false;" rendered="{!IF((camp!='apex/CampaignCallDown?sfdc.tabName=01ri0000000EPu0' && camp!='ALL'),true,false)}">Go to Campaign</apex:outputLink>-->
    </apex:pageBlock>
    <apex:pageBlock >
        
        <table style="width:600px" >
        <tr>
          <td><b>Status</b></td>
          <td><apex:selectList value="{!status}" size="1">
                <apex:selectOptions value="{!statusItems}"/>
                <apex:actionSupport event="onchange" status="counterStatus" action="{!newCampaignRefresh}" rerender="calls"/>
            </apex:selectList></td>        
          </tr>
        <tr>
          <td><b>Contact/Lead Owner</b> </td>
          <td><apex:selectList value="{!ownerId}" size="1">
                <apex:selectOptions value="{!owners}"/>
                <apex:actionSupport event="onchange" status="counterStatus" action="{!newCampaignRefresh}" rerender="callList"/>
            </apex:selectList> </td>      
        </tr>
        <tr>
          <td><b>Search Company Name</b></td>
          <td><apex:InputText value="{!SearchText}" /> </td>      
          <td><apex:commandButton action="{!newCampaignRefresh}" title="Search" value="Search" disabled="{!IF((camp!='apex/CampaignCallDown?sfdc.tabName=01ri0000000EPu0'),false,true)}" reRender="callList,myButtons,PageN" status="counterStatus"/> </td>
        </tr>
        </table>
        
        
        <table style="width:100px" >
        <tr>
          <td>Show</td>
          <td><apex:selectList value="{!PageList_Size}" size="1" disabled="{!IF((camp!='apex/CampaignCallDown?sfdc.tabName=01ri0000000EPu0'),false,true)}" >
                            <apex:selectOption itemValue="10" itemLabel="10"/>
                            <apex:selectOption itemValue="25" itemLabel="25"/>
                            <apex:selectOption itemValue="50" itemLabel="50"/>
                            <apex:selectOption itemValue="100" itemLabel="100"/>
                            <apex:actionSupport event="onchange" status="waitingStatusLoad" action="{!newCampaignRefresh}" reRender="callList,myButtons,PageN"/>
                        </apex:selectList></td>        
          </tr>

        </table>
        

         <apex:pageMessage severity="warning" strength="1" summary="More then 2000 records found, please rediefine your search." rendered="{!AccLimitExceed}" ></apex:pageMessage>
        <apex:actionStatus id="waitingStatusLoad">                   
            <apex:facet name="start">
            <div class="waitingHolder" style="top: 12%; width: 200px; ">
            <img class="waitingImage" src="/img/loading32.gif" width="18px" height="18px"/>
            <span class="waitingDescription"><font size="2">Searching Campaign Members...</font></span>
            </div>                
            </apex:facet>
            <apex:facet name="stop"></apex:facet>
          </apex:actionStatus>
        <apex:outputPanel layout="block" style="position: relative; width: 100%">
            <apex:outputPanel layout="block" style="float: left;">
                <apex:outputLink value="{!backRef}" style="line-height: 24px;">Settings</apex:outputLink>
            </apex:outputPanel>
            <apex:outputPanel layout="block" style="float: right; padding-right: 5px; padding-bottom: 5px">
                <apex:commandButton action="{!updateAll}" value="Update All" reRender="callList" status="counterStatus" disabled="{!IF((camp!='apex/CampaignCallDown?sfdc.tabName=01ri0000000EPu0'),false,true)}"/>
            </apex:outputPanel>
 
            
            
            <apex:outputPanel layout="block" style="clear: both;">
            </apex:outputPanel>
        </apex:outputPanel>
           <apex:actionStatus id="counterStatus">
              <apex:facet name="start">  
                <apex:outputPanel id="processing">
                  <apex:pageMessage title="Processing..." severity="info" strength="2" rendered="true" />
                  <br></br>
                  <br></br>
                  <p><apex:image id="loader" url="{!URLFOR($Resource.CampaignCallDown, '/images/loaderImage.gif')}"/></p>
                </apex:outputPanel>   
              </apex:facet>
              <apex:facet name="stop">
                    <apex:pageBlockTable value="{!leadPlusTasks}" var="lpt" id="callList" >
        <!-- Campaign Name----------------->  
                         <apex:column rendered="{!$Setup.CampaignColumns__c.Campaign__c}">
                            <apex:facet name="header">
                                <apex:commandLink action="{!sortByCampName}" rerender="calls">
                                    <apex:outputLabel rendered="{!IF(sortColumn !='CAMPNAME',true,false)}">Campaign Name</apex:outputLabel>
                                    <apex:outputLabel rendered="{!IF(sortColumn =='CAMPNAME',true,false)}"><FONT color="red">Campaign Name</FONT></apex:outputLabel>
                                </apex:commandLink>
                            </apex:facet>
                            <apex:outputLink Onclick="window.open('{!$Site.Prefix}/apex/CampaignCustomDetailsTemplate?id={!lpt.campNameID}','mywin', 'height=1000,width=1000,Scrollbars=1'); return false;">{!lpt.campName}</apex:outputLink>
                        </apex:column>  
                        
        <!-- Salutation ----------------->  
                         <apex:column value="{!lpt.Salutation}" rendered="{!$Setup.CampaignColumns__c.Salutation__c}">
                            <apex:facet name="header">
                                <apex:commandLink action="{!sortBySal}" rerender="calls">
                                    <apex:outputLabel rendered="{!IF(sortColumn !='SAL',true,false)}">Salutation</apex:outputLabel>
                                    <apex:outputLabel rendered="{!IF(sortColumn =='SAL',true,false)}"><FONT color="red">Salutation</FONT></apex:outputLabel>
                                </apex:commandLink>
                            </apex:facet>
                        </apex:column> 
        <!-- Name----------------->  
                         <apex:column >
                            <apex:facet name="header">
                                <apex:commandLink action="{!sortByName}" rerender="calls">
                                    <apex:outputLabel rendered="{!IF(sortColumn !='NAME',true,false)}">Name</apex:outputLabel>
                                    <apex:outputLabel rendered="{!IF(sortColumn =='NAME',true,false)}"><FONT color="red">Name</FONT></apex:outputLabel>
                                </apex:commandLink>
                            </apex:facet>
                            <apex:outputLink Onclick="window.open('{!$Site.Prefix}/apex/CampaignMemberCustomDetailsTemplate?id={!lpt.memberID}','mywin', 'height=400,width=1000,Scrollbars=1'); return false;" >{!lpt.NAME}</apex:outputLink>
                        </apex:column>  

        <!-- Company Name ----------------->  
                         <apex:column value="{!lpt.Company}" rendered="{!$Setup.CampaignColumns__c.Company__c}">
                            <apex:facet name="header">
                                <apex:commandLink action="{!sortByCompany}" rerender="calls">
                                    <apex:outputLabel rendered="{!IF(sortColumn !='COMPNAME',true,false)}">Company Name</apex:outputLabel>
                                    <apex:outputLabel rendered="{!IF(sortColumn =='COMPNAME',true,false)}"><FONT color="red">Company Name</FONT></apex:outputLabel>
                                </apex:commandLink>
                            </apex:facet>
                        </apex:column> 
        
        <!-- Status-----------------> 
                       <apex:column >
                            <apex:facet name="header">
                                <apex:commandLink action="{!sortByStatus}" rerender="calls">
                                    <apex:outputLabel rendered="{!IF(sortColumn !='STATUS',true,false)}">Status</apex:outputLabel>
                                    <apex:outputLabel rendered="{!IF(sortColumn =='STATUS',true,false)}"><FONT color="red">Status</FONT></apex:outputLabel>
                                </apex:commandLink>
                            </apex:facet>
                            <apex:selectList value="{!lpt.statusUpdate}" size="1">
                            <apex:selectOptions value="{!lpt.status}"/>
                            </apex:selectList>
                        </apex:column>

        <!-- Phone-----------------> 
                        <apex:column value="{!lpt.Phone}" rendered="{!$Setup.CampaignColumns__c.PHONE__c}">
                            <apex:facet name="header">
                                <apex:commandLink action="{!sortByPhone}" rerender="calls">
                                    <apex:outputLabel rendered="{!IF(sortColumn !='PHONE',true,false)}">Phone</apex:outputLabel>
                                    <apex:outputLabel rendered="{!IF(sortColumn =='PHONE',true,false)}"><FONT color="red">Phone</FONT></apex:outputLabel>
                                </apex:commandLink>
                            </apex:facet>
                        </apex:column>
        <!-- priority-----------------> 
                        <apex:column value="{!lpt.priority}" rendered="{!$Setup.CampaignColumns__c.priority__c}">
                            <apex:facet name="header">
                                <apex:commandLink action="{!sortByPriority}" rerender="calls">
                                    <apex:outputLabel rendered="{!IF(sortColumn !='PRIORITY',true,false)}">Priority</apex:outputLabel>
                                    <apex:outputLabel rendered="{!IF(sortColumn =='PRIORITY',true,false)}"><FONT color="red">Priority</FONT></apex:outputLabel>
                                </apex:commandLink>
                            </apex:facet>
                        </apex:column>
                        
        <!-- Preferred Call Date -----------------> 
                        <apex:column value="{!lpt.dueDateValue}" rendered="{!$Setup.CampaignColumns__c.Due_Date__c}">
                            <apex:facet name="header">
                                <apex:commandLink action="{!sortByDueDate}" rerender="calls">
                                    <apex:outputLabel rendered="{!IF(sortColumn !='DD',true,false)}">Due Date</apex:outputLabel>
                                    <apex:outputLabel rendered="{!IF(sortColumn =='DD',true,false)}"><FONT color="red">Due Date</FONT></apex:outputLabel>
                                </apex:commandLink>
                            </apex:facet>
                        </apex:column>
                        
        <!-- Notes-----------------> 
                        <apex:column value="{!lpt.Notes}" rendered="{!$Setup.CampaignColumns__c.notes__c}">
                            <apex:facet name="header">
                                <apex:commandLink action="{!sortByNotes}" rerender="calls">
                                    <apex:outputLabel rendered="{!IF(sortColumn !='NOTES',true,false)}">Notes</apex:outputLabel>
                                    <apex:outputLabel rendered="{!IF(sortColumn =='NOTES',true,false)}"><FONT color="red">Notes</FONT></apex:outputLabel>
                                </apex:commandLink>
                            </apex:facet>
                        </apex:column>

 
       <!-- Log a Call-----------------> 
                        <apex:column headerValue="Log A Call">
                            <apex:inputTextarea value="{!lpt.t.Description}" cols="25" rows="1" onFocus="this.rows=3;" onBlur="this.rows=1" />
                            <br />
                        </apex:column>               
   
                           
                    </apex:pageBlockTable>
                   </apex:facet>
                  </apex:actionStatus>
      <apex:pageBlockButtons location="Bottom" >
      <apex:actionStatus id="waitingPageLoad">                   
            <apex:facet name="start">
            <div class="waitingHolder" style="top: 12%; width: 200px; ">
            <img class="waitingImage" src="/img/loading32.gif" width="18px" height="18px"/>
            <span class="waitingDescription"><font size="2">Processing...</font></span>
            </div>                
            </apex:facet>
            <apex:facet name="stop"></apex:facet>
          </apex:actionStatus>
       <apex:outputPanel id="myButtons">
            <apex:commandButton action="{!Beginning}" title="Beginning" value="<<" disabled="{!disablePrevious}" reRender="callList,myButtons,PageN" status="waitingPageLoad"/>
            <apex:commandButton action="{!Previous}" title="Previous" value="<" disabled="{!disablePrevious}" reRender="callList,myButtons,PageN" status="waitingPageLoad"/>       
            <apex:commandButton action="{!Next}" title="Next" value=">" disabled="{!disableNext}" reRender="callList,myButtons,PageN" status="waitingPageLoad"/>
            <apex:commandButton action="{!End}" title="End" value=">>" disabled="{!disableNext}" reRender="callList,myButtons,PageN" status="waitingPageLoad"/>      
       </apex:outputPanel>
       <apex:outputLabel id="PageN" rendered="{!IF(total_Pages >=1,true,false)}"> Page {!current_Page} of {!total_Pages}</apex:outputLabel>
   </apex:pageBlockButtons>
  </apex:pageBlock> 
  </apex:form>
</apex:page>