<apex:page standardController="CIF__c" sidebar="false" showHeader="false" renderAs="pdf" extensions="GenerateCIFExtension" action="{!previewPDF}" >
    <apex:stylesheet value="{!$Resource.QuoteCSSv2}" />
    <div style="page-break-after:always;">
        <table width="100%" border = "0" >
            <tr>
                <td colspan ="3"><apex:image url="{!$Resource.RogersLogoSmall}"/></td>
            </tr>
            <tr>
                <td></td>
                <td colspan ="2"><apex:outputText styleClass="font1" escape="false" value="{!$Label.Customer_Information_Form}"/></td>
            </tr>
            <tr>
                <td></td>
                 <td></td>
                <td></td>
            </tr>
           <tr>
                <td></td>
                <td colspan="2" valign="top">
                    <apex:outputText styleClass="font5" escape="false" value="{!$Label.General_Information}:"/><br/> 
                    <table width="100%">
                        <tr>
                            <td width="20%" align="left"><apex:outputText styleClass="font7b" escape="false" value="{!$Label.CIF}"/>: </td>
                            <td width="30%"  align="left"><apex:outputText styleClass="font7b" escape="false" value="{!aCIF.Name}"/></td>
                            <td width="20%"  align="left"><apex:outputText styleClass="font7b" escape="false" value="{!$Label.CIF_Owner}"/>: </td> 
                            <td width="30%"  align="left"><apex:outputText styleClass="font7b" escape="false" value="{!aCIF.COP_Owner__r.Name}"/></td>
                        </tr>
                         <tr>
                            <td width="20%"  align="left"><apex:outputText styleClass="font7b" escape="false" value="{!$Label.Customer_Order_Number}"/>: </td>
                            <td width="30%"  align="left"><apex:outputText styleClass="font7b" escape="false" value="{!aCIF.Customer_Order_Number__c}"/></td>
                            <td width="20%"  align="left"><apex:outputText styleClass="font7b" escape="false" value="{!$Label.Customer_PO}"/>: </td>
                            <td width="30%"  align="left"><apex:outputText styleClass="font7b" escape="false" value="{!aCIF.Customer_PO__c}"/></td>                            
                        </tr>
                        <tr>
                            <td width="20%"  align="left"><apex:outputText styleClass="font7b" escape="false" value="{!$Label.Account_Name}"/>: </td>
                            <td width="30%"  align="left"><apex:outputText styleClass="font7b" escape="false" value="{!aCIF.Account_Name1__c}"/></td>
                            <td width="20%"  align="left"><apex:outputText styleClass="font7b" escape="false" value="{!$Label.AC_Name}"/>: </td>
                            <td width="30%"  align="left"><apex:outputText styleClass="font7b" escape="false" value="{!aCIF.AC_Name__c}"/></td>

                       </tr>
                        <tr>
                            <td width="20%"  align="left"><apex:outputText styleClass="font7b" escape="false" value="{!$Label.Account_Owner}"/>: </td>
                            <td width="30%"  align="left"><apex:outputText styleClass="font7b" escape="false" value="{!aCIF.Account_Owner__r.Name}"/></td>
                             <td width="20%"  align="left"><apex:outputText styleClass="font7b" escape="false" value="{!$Label.AC_ID}"/>: </td>
                            <td width="30%"  align="left"><apex:outputText styleClass="font7b" escape="false" value="{!aCIF.AC_ID__c}"/></td>

                            </tr>
                           <tr>
                            <td width="20%"  align="left"><apex:outputText styleClass="font7b" escape="false" value="{!$Label.OSS}"/>: </td>
                            <td width="30%"  align="left"><apex:outputText styleClass="font7b" escape="false" value="{!aCIF.OSS__c}"/></td>
                            <td width="20%"  align="left"><apex:outputText styleClass="font7b" escape="false" value="{!$Label.AM_ID}"/>: </td>
                            <td width="30%"  align="left"><apex:outputText styleClass="font7b" escape="false" value="{!aCIF.AM_ID__c}"/></td>

                        </tr>
                        <tr>
                            <td width="20%"  align="left"><apex:outputText styleClass="font7b" escape="false" value="{!$Label.Opportunity_Owner}"/>: </td>
                            <td width="30%"  align="left"><apex:outputText styleClass="font7b" escape="false" value="{!aCIF.Opp_Owner__c}"/></td>
                            <td width="20%"  align="left"><apex:outputText styleClass="font7b" escape="false" value="{!$Label.TSC_Assignment}"/>: </td>
                            <td width="30%"  align="left"><apex:outputText styleClass="font7b" escape="false" value="{!aCIF.TSC_Name__c}"/></td>
                        
                        </tr>
                        
                        
                        <tr>
                            <td width="20%"  align="left"><apex:outputText styleClass="font7b" escape="false" value="{!$Label.Opportunity_Number}"/>: </td>
                            <td width="30%"  align="left"><apex:outputText styleClass="font7b" escape="false" value="{!aCIF.Opportunity_Number__c}"/></td>
                        
                               <td width="20%"  align="left"><apex:outputText styleClass="font7b" escape="false" value="{!$Label.SPS_Assigned}"/>: </td>
                            <td width="30%"  align="left"><apex:outputText styleClass="font7b" escape="false" value="{!aCIF.SPS_Assigned__c}"/></td>
                        </tr>
                        <tr>
                            <td width="20%"  align="left"><apex:outputText styleClass="font7b" escape="false" value="{!$Label.Opportunity_Name}"/>: </td>
                            <td width="30%"  align="left"><apex:outputText styleClass="font7b" escape="false" value="{!aCIF.Opportunity_Name1__c}"/></td>
                            <td width="20%"  align="left"><apex:outputText styleClass="font7b" escape="false" value="{!$Label.Order_Tracker}"/>: </td>
                            <td width="30%"  align="left"><apex:outputText styleClass="font7b" escape="false" value="{!aCIF.Order_Tracker__c}"/></td>

                        </tr>
                       
                        <tr>
                            <td width="20%"  align="left"><apex:outputText styleClass="font7b" escape="false" value="{!$Label.Credit_Approval}"/>: </td>
                            <td width="30%"  align="left"><apex:outputText styleClass="font7b" escape="false" value="{!aCIF.Credit_Approval__c}"/></td>
                            <td width="20%"  align="left"><apex:outputText styleClass="font7b" escape="false" value="{!$Label.Quote_Name}"/>: </td>
                            <td width="30%"  align="left"><apex:outputText styleClass="font7b" escape="false" value="{!aCIF.Quote_Name__c}"/></td>
                            
                        </tr>
                        <tr>
                        <td width="20%"  align="left"><apex:outputText styleClass="font7b" escape="false" value="{!$Label.Credit_Approval_Date}"/>: </td>
                            <td width="30%"  align="left">
                                <apex:outputtext styleClass="font7b" value="{0,date,MMM dd',' yyyy}">
                                    <apex:param value="{!aCIF.Credit_Approval_Date__c}" />
                                </apex:outputtext>
                            </td>
                                <td width="20%"  align="left"><apex:outputText styleClass="font7b" escape="false" value="{!$Label.Quote_Number}"/>: </td>
                            <td width="30%"  align="left"><apex:outputText styleClass="font7b" escape="false" value="{!aCIF.Quote_Number__c}"/></td>
                        </tr>
                        <tr>
                        <td width="20%"  align="left"><apex:outputText styleClass="font7b" escape="false" value="{!$Label.Service_Date_Implementation}"/>: </td>
                        <td width="30%"  align="left">
                                <apex:outputtext styleClass="font7b" value="{0,date,MMM dd',' yyyy}">
                                    <apex:param value="{!aCIF.Service_Date_Implementation__c}" />
                                </apex:outputtext>
                            </td>
                            <td width="20%"  align="left"><apex:outputText styleClass="font7b" escape="false" value="Type:"/></td>
                            <td width="30%"  align="left"><apex:outputText styleClass="font7b" escape="false" value="{!aCIF.Opportunity_Name__r.Type}"/></td>
                        </tr>
                         <tr>
                        <td width="20%"  align="left"><apex:outputText styleClass="font7b" escape="false" value="{!$Label.Billing_Entity_Code}"/>: </td>
                        <td width="30%"  align="left"><apex:outputText styleClass="font7b" escape="false" value="{!aCIF.Billing_Entity_Code__c}"/></td>
                            <td width="20%"  align="left"><apex:outputText styleClass="font7b" escape="false" value="{!$Label.Provisioning_ID}"/>: </td>
                            <td width="30%"  align="left"><apex:outputText styleClass="font7b" escape="false" value="{!aCIF.Provisioning_ID__c}"/></td>
                        </tr>
                        <tr>
                        <td width="20%"  align="left"><apex:outputText styleClass="font7b" escape="false" value="{!$Label.Billing_Entity_Code_EoC}"/>: </td>
                        <td width="30%"  align="left"><apex:outputText styleClass="font7b" escape="false" value="{!aCIF.Billing_Entity_Code_EoC__c}"/></td>
                         <td width="20%"  align="left"><apex:outputText styleClass="font7b" escape="false" value="{!$Label.MAL_ID}"/>: </td>
                        <td width="30%"  align="left"><apex:outputText styleClass="font7b" escape="false" value="{!aCIF.MAL_ID__c}"/></td>
                        </tr>
                        <tr>
                        <td width="20%"  align="left"><apex:outputText styleClass="font7b" escape="false" value="{!$Label.Manager_of_Account_Owner}"/>: </td>
                        <td width="30%"  align="left"><apex:outputText styleClass="font7b" escape="false" value="{!aCIF.Manager_of_Account_Owner__c}"/></td>
                        </tr>
                        <tr>
                        <td width="20%"  align="left"><apex:outputText styleClass="font7b" rendered="{!NOT(ISBLANK(aCIF.Carrier_Type__c))}" escape="false" value="Carrier Type: "/></td>
                        <td width="30%"  align="left"><apex:outputText styleClass="font7b" rendered="{!NOT(ISBLANK(aCIF.Carrier_Type__c))}" escape="false" value="{!aCIF.Carrier_Type__c}"/></td>
                            <td width="20%"  align="left"><apex:outputText styleClass="font7b" escape="false" value=""/></td>
                            <td width="30%"  align="left"><apex:outputText styleClass="font7b" escape="false" value=""/></td>
                        </tr>
                        
                    </table>
                </td>
            </tr>
            
            <tr>
                <td></td>
                <td colspan="2" valign="top">
                    <br/>
                    <table width="100%">
                        <tr>
                            <td align="left" colspan="2" width="50%"><apex:outputText styleClass="font8b" escape="false" value="{!$Label.Decision_Maker}:"/></td>
                            <td align="left" colspan="2" width="50%"><apex:outputText styleClass="font8b" escape="false" value="{!$Label.Billing_Contact}:"/></td>
                        </tr>
                        <tr>
                            <td align="left" width="15%"><apex:outputText styleClass="font7b" escape="false" value="{!$Label.Contact_Name}"/>: </td>
                            <td align="left" width="35%"><apex:outputText styleClass="font7b" escape="false" value="{!aCIF.Contact_Name1__c}"/></td>
                            <td align="left" width="15%"><apex:outputText styleClass="font7b" escape="false" value="{!$Label.Billing_Contact}:"/></td>
                            <td align="left" width="35%"><apex:outputText styleClass="font7b" escape="false" value="{!aCIF.Billing_Contact_Name1__c}"/></td>
                        </tr>
                        <tr>
                            <td align="left" width="15%"><apex:outputText styleClass="font7b" escape="false" value="{!$Label.Contact_Title}"/>: </td>
                            <td align="left" width="35%"><apex:outputText styleClass="font7b" escape="false" value="{!aCIF.Contact_Title__c}"/></td>
                            <td align="left" width="15%"><apex:outputText styleClass="font7b" escape="false" value="{!$Label.Contact_Title}"/>: </td>
                            <td align="left" width="35%"><apex:outputText styleClass="font7b" escape="false" value="{!aCIF.Billing_Contact_Title__c}"/></td>
                            
                        </tr>
                        <tr>
                            <td align="left" width="15%"><apex:outputText styleClass="font7b" escape="false" value="{!$Label.Contact_Phone}"/>: </td>
                            <td align="left" width="35%"><apex:outputText styleClass="font7b" escape="false" value="{!aCIF.Contact_Phone__c}"/></td>
                            <td align="left" width="15%"><apex:outputText styleClass="font7b" escape="false" value="{!$Label.Contact_Phone}"/>: </td>
                            <td align="left" width="35%"><apex:outputText styleClass="font7b" escape="false" value="{!aCIF.Billing_Contact_Phone__c}"/></td>
                        </tr>
                        
                        <tr>
                            <td align="left" width="15%"><apex:outputText styleClass="font7b" escape="false" value="{!$Label.Contact_Mobile}"/>: </td>
                            <td align="left" width="35%"><apex:outputText styleClass="font7b" escape="false" value="{!aCIF.Contact_Mobile__c}"/></td>
                            <td align="left" width="15%"><apex:outputText styleClass="font7b" escape="false" value="{!$Label.Contact_Mobile}"/>: </td>
                            <td align="left" width="35%"><apex:outputText styleClass="font7b" escape="false" value="{!aCIF.Billing_Contact_Mobile__c}"/></td>
                        </tr>
                        <tr>
                            <td align="left" width="15%"><apex:outputText styleClass="font7b" escape="false" value="{!$Label.Contact_Email}"/>: </td>
                            <td align="left" width="35%"><apex:outputText styleClass="font7b" escape="false" value="{!aCIF.Contact_Email__c}"/></td>
                            <td align="left" width="15%"><apex:outputText styleClass="font7b" escape="false" value="{!$Label.Contact_Email}"/>: </td>
                            <td align="left" width="35%"><apex:outputText styleClass="font7b" escape="false" value="{!aCIF.Billing_Contact_Email__c}"/></td>
                        </tr>
                        <tr>
                            <td align="left" width="15%"><apex:outputText styleClass="font7b" escape="false" value="{!$Label.Decision_Maker_Address}"/>: </td>
                            <td align="left" width="35%"><apex:outputText styleClass="font7b" escape="false" value="{!aCIF.Decision_Maker_Address__c}"/></td>
                            <td align="left" width="15%"><apex:outputText styleClass="font7b" escape="false" value="{!$Label.Customer_Address}"/>: </td>
                            <td align="left" width="35%"><apex:outputText styleClass="font7b" escape="false" value="{!aCIF.Billing_Address__c}"/></td>
                        </tr>
                    </table>
                 </td>
                
            </tr>
            <tr>
            <td></td>
            <td colspan="2" valign="top">
           
                    <br/> 
                    <table width="100%">
                        <tr>
                            <td align="left" colspan="2" width="50%"><apex:outputText styleClass="font8b" escape="false" value="{!$Label.Technical_Contact}:"/></td>
                            <td align="left" colspan="2" width="50%"><apex:outputText styleClass="font8b" escape="false" value="{!$Label.Alternate_Technical_Contact}:"/></td>
                        </tr>
                        <tr>
                            <td align="left" width="15%"><apex:outputText styleClass="font7b" escape="false" value="{!$Label.Contact_Name}"/>: </td>
                            <td align="left" width="35%"><apex:outputText styleClass="font7b" escape="false" value="{!aCIF.Technical_Contact_Name1__c}"/></td>
                            <td align="left" width="15%"><apex:outputText styleClass="font7b" escape="false" value="{!$Label.Contact_Name}"/>: </td>
                            <td align="left" width="35%"><apex:outputText styleClass="font7b" escape="false" value="{!aCIF.Contact_Name_Alternate1_c__c}"/></td>
                        </tr>
                        <tr>
                            <td align="left" width="15%"><apex:outputText styleClass="font7b" escape="false" value="{!$Label.Contact_Title}"/>: </td>
                            <td align="left" width="35%"><apex:outputText styleClass="font7b" escape="false" value="{!aCIF.Technical_Contact_Title__c}"/></td>
                            <td align="left" width="15%"><apex:outputText styleClass="font7b" escape="false" value="{!$Label.Contact_Title}"/>: </td>
                            <td align="left" width="35%"><apex:outputText styleClass="font7b" escape="false" value="{!aCIF.Contact_Title_Alternate__c}"/></td>
                        </tr>
                        <tr>
                            <td align="left" width="15%"><apex:outputText styleClass="font7b" escape="false" value="{!$Label.Contact_Phone}"/>: </td>
                            <td align="left" width="35%"><apex:outputText styleClass="font7b" escape="false" value="{!aCIF.Technical_Contact_Phone__c}"/></td>
                            <td align="left" width="15%"><apex:outputText styleClass="font7b" escape="false" value="{!$Label.Contact_Phone}"/>: </td>
                            <td align="left" width="35%"><apex:outputText styleClass="font7b" escape="false" value="{!aCIF.Contact_Alternate_Phone__c}"/></td>
                        </tr>
                        
                        <tr>
                            <td align="left" width="15%"><apex:outputText styleClass="font7b" escape="false" value="{!$Label.Contact_Mobile}"/>: </td>
                            <td align="left" width="35%"><apex:outputText styleClass="font7b" escape="false" value="{!aCIF.Technical_Contact_Mobile__c}"/></td>
                            <td align="left" width="15%"><apex:outputText styleClass="font7b" escape="false" value="{!$Label.Contact_Mobile}"/>: </td>
                            <td align="left" width="35%"><apex:outputText styleClass="font7b" escape="false" value="{!aCIF.Contact_Mobile_Alternate__c}"/></td>
                        </tr><tr>
                            <td align="left" width="15%"><apex:outputText styleClass="font7b" escape="false" value="{!$Label.Contact_Email}"/>: </td>
                            <td align="left" width="35%"><apex:outputText styleClass="font7b" escape="false" value="{!aCIF.Technical_Contact_Email__c}"/></td>
                            <td align="left" width="15%"><apex:outputText styleClass="font7b" escape="false" value="{!$Label.Contact_Email}"/>: </td>
                            <td align="left" width="35%"><apex:outputText styleClass="font7b" escape="false" value="{!aCIF.Contact_Email_Alternate__c}"/></td>
                        </tr>
                    </table>
                </td>
               
            </tr>
              <tr>
            <td></td>
            <td colspan="2" valign="top">
            <br/>
                <table width="100%">
                    <tr>
                        <td align="left" colspan="2" width="50%"><apex:outputText styleClass="font8b" escape="false" value="{!$Label.Interconnection_Contact}:"/></td>
                        <td align="left" colspan="2" width="50%"><apex:outputText styleClass="font8b" escape="false" value="{!$Label.eBilling_Contact}:"/></td>
                    </tr>
                    
                        <tr>
                            <td align="left" width="15%"><apex:outputText styleClass="font7b" escape="false" value="{!$Label.Contact_Name}"/>: </td>
                            <td align="left" width="35%"><apex:outputText styleClass="font7b" escape="false" value="{!aCIF.Contact_Name1_Interconnection__c}"/></td>
                            <td align="left" width="15%"><apex:outputText styleClass="font7b" escape="false" value="{!$Label.Contact_Name}"/>: </td>
                            <td align="left" width="35%"><apex:outputText styleClass="font7b" escape="false" value="{!aCIF.eBilling_Admin_Contact_Name__c}"/></td>
                        </tr>
                        <tr>
                            <td align="left" width="15%"><apex:outputText styleClass="font7b" escape="false" value="{!$Label.Contact_Title}"/>: </td>
                            <td align="left" width="35%"><apex:outputText styleClass="font7b" escape="false" value="{!aCIF.Contact_Title_Interconnection__c}"/></td>
                            <td align="left" width="15%"><apex:outputText styleClass="font7b" escape="false" value="{!$Label.Contact_Title}"/>: </td>
                            <td align="left" width="35%"><apex:outputText styleClass="font7b" escape="false" value="{!aCIF.eBilling_Admin_Contact_Job_Title__c}"/></td>
                        </tr>
                        <tr>
                            <td align="left" width="15%"><apex:outputText styleClass="font7b" escape="false" value="{!$Label.Contact_Phone}"/>: </td>
                            <td align="left" width="35%"><apex:outputText styleClass="font7b" escape="false" value="{!aCIF.Contact_Phone_Interconnection__c}"/></td>
                            <td align="left" width="15%"><apex:outputText styleClass="font7b" escape="false" value="{!$Label.Contact_Phone}"/>: </td>
                            <td align="left" width="35%"><apex:outputText styleClass="font7b" escape="false" value="{!aCIF.eBilling_Admin_Contact_Phone__c}"/></td>
                            
                        </tr>
                        
                        <tr>
                            <td align="left" width="15%"><apex:outputText styleClass="font7b" escape="false" value="{!$Label.Contact_Mobile}"/>: </td>
                            <td align="left" width="35%"><apex:outputText styleClass="font7b" escape="false" value="{!aCIF.Contact_Mobile_Interconnection__c}"/></td>
                            <td align="left" width="15%"><apex:outputText styleClass="font7b" escape="false" value="{!$Label.Contact_Mobile}"/>: </td>
                            <td align="left" width="35%"><apex:outputText styleClass="font7b" escape="false" value="{!aCIF.eBilling_Admin_Contact_Mobile__c}"/></td>
                        </tr>
                        <tr>
                            <td align="left" width="15%"><apex:outputText styleClass="font7b" escape="false" value="{!$Label.Contact_Email}"/>: </td>
                            <td align="left" width="35%"><apex:outputText styleClass="font7b" escape="false" value="{!aCIF.Contact_Email_Interconnection__c}"/></td>
                            <td align="left" width="15%"><apex:outputText styleClass="font7b" escape="false" value="{!$Label.Contact_Email}"/>: </td>
                            <td align="left" width="35%"><apex:outputText styleClass="font7b" escape="false" value="{!aCIF.eBilling_Admin_Contact_Email__c}"/></td>
                        </tr>
                    </table>
                    <div style="page-break-after:always"></div>
                   <table width="100%">
                    <tr>
                    <td align="left" colspan="4"><apex:outputText styleClass="font5" escape="false" value="{!$Label.Comments}: "/></td>
                    </tr>
                    <tr>
                    <td style="vertical-align:text-top;" align="left" colspan="4"><apex:outputText escape="false" styleClass="font7b" value="{!aCIF.Comments__c}"/></td>
                    </tr>
                    </table>
                </td>
                </tr>
                
        </table>
</div> 
<div> 
    <div class = "font6">{!$Label.CIF_Site_Information}</div>
    <div class = "font4">
        <c:PDFHeaderFooter type="footer" position="right" showPageNumbers="true"/>
    </div>
   
    <apex:outputText escape="false" styleClass="font9" value="{!showTable}"/>
</div>
</apex:page>