<apex:page standardController="Opportunity" extensions="ContractOppRenewalExtension"> 

<apex:includeScript value="{!$Resource.jQuery}" />
<apex:includeScript value="{!$Resource.blockUI}"/> 
<script>
var j$ = jQuery.noConflict();

 function lockScreen(){   
            j$.blockUI({ message: j$('#loading') }); 
        }
        function unlockScreen(){   
            j$.unblockUI(); 
        }

/* We need to fire a method and then reload the locations sections */
    function tableRowClickHandler(section, row, e, id){
        
        var target;
            var targ;
            
            if (!e) var e = window.event;
            
            if (e.target) targ = e.target;
            else if (e.srcElement) targ = e.srcElement;
            
            target = targ.type;
            
            var jSection = '#' + section;
            
            //var offset = (section== 'sites')?1:3;
            // 3 takes into consideration the filter criteria table.
            // This may be changed if there is time.
            var selectedRow = row.rowIndex + 1;
                 
            if (target !== 'checkbox'){
                if (!j$(jSection + ' tr:eq('+selectedRow+') input:checkbox:eq(0)').attr("checked")){
                    j$(jSection + ' tr:eq('+selectedRow+') input:checkbox:eq(0)').attr("checked", "checked");
                }else{
                    j$(jSection + ' tr:eq('+selectedRow+') input:checkbox:eq(0)').attr("checked", null);
                }
            }
            
            // We need to unselect the selectAll and remove all of the highlighting
            j$(jSection + ' thead input:checkbox').attr('checked', null);           
            j$(jSection + ' tr').css({backgroundColor: ''});
            j$(jSection + ' tr td').css({backgroundColor: ''});
            
            // Hilight the necessary rows (those that are selected)
            j$(jSection + ' tr td input:checkbox:even').each(function(index){
                if (j$(this).attr("checked")){
                    j$(j$(this).parent().siblings()[5]).find('input:checked').attr('checked', null); 
                    j$(this).parent().parent().css({backgroundColor: '#FFFAB3'}); 
                }             
            });
    }
    
    function updateRelated(){
        if ('{!parentOpp.No_Existing_Contract__c}' == 'false'){
            if(j$('#existingContracts input:checkbox:even:checked').length == 0){
                alert('You must ensure that there is at least one existing contract selected if the No Existing Contract in Salesforce is unchecked.');
                return;
            }
        }
        updateRelatedContracts();
    }

</script>
<apex:form >
<div id="existingContracts">
<apex:pageBlock title="Existing Contracts" id="existingContract1" rendered="{!NOT(numExisting == 0)}">  
        <p style="text-align:center;">
            <apex:commandButton onclick="javascript:updateRelated();" value="Save Related Contracts" title="Update the Related Contracts for the Request." />
        </p>
        <apex:pageBlockTable onrowclick="tableRowClickHandler('existingContracts', this, event);" value="{!ContractWrapperList}" var="cWrap">
            <apex:column style="{!if(cWrap.isSelected,'background-color:#FFFAB3', '')}">
                <apex:inputCheckbox value="{!cWrap.isSelected}"/>
            </apex:column>
            <apex:column style="{!if(cWrap.isSelected,'background-color:#FFFAB3', '')}" value="{!cWrap.contract.Contract_Number__c}"/>
            <apex:column style="{!if(cWrap.isSelected,'background-color:#FFFAB3', '')}" value="{!cWrap.contract.Name}"/>
            <apex:column style="{!if(cWrap.isSelected,'background-color:#FFFAB3', '')}" value="{!cWrap.contract.Contract_Start_Date__c}"/>
            <apex:column style="{!if(cWrap.isSelected,'background-color:#FFFAB3', '')}" value="{!cWrap.contract.Contract_End_Date__c}"/>
            <apex:column style="{!if(cWrap.isSelected,'background-color:#FFFAB3', '')}" value="{!cWrap.contract.Status__c}"/>
            <apex:column style="{!if(cWrap.isSelected,'background-color:#FFFAB3', '')}" headerValue="Current Contract">
                <apex:inputCheckbox disabled="{!cWrap.isSelected}" value="{!cWrap.contract.Current_Contract_Flag__c}"/>
            </apex:column>
        </apex:pageBlockTable>
         
</apex:pageBlock>
<apex:outputText rendered="{!numExisting == 0}" value="Currently there are no Contract linked to this Account - Change the Account to update this list" />
</div>
<apex:actionFunction name="updateRelatedContracts" action="{!updateContracts}" status="status" />
          
     <div id="loading" style="display:none; cursor: default">  
                <apex:image url="{!$Resource.loading}" width="20%"/> 
            </div> 

</apex:form>
<apex:actionStatus id="status" onStart="lockScreen();" onStop="unlockScreen();" />
</apex:page>