<!--**********************************************************************************
VF Page Name    : CPQ_ProposalReadyForReview
Description     : This page is called on click of button "Ready For Review" on Quote
Created By      : Deepika Rawat
Created Date    : 15-Oct-15 
Modification Log:
---------------------------------------------------------------------------------- 
Developer                   Date                   Description
----------------------------------------------------------------------------------            
Deepika Rawat            15-Oct-15              Initial Version
**********************************************************************************-->

<apex:page standardController="Apttus_Proposal__Proposal__c" extensions="CPQ_ProposalReadyForReviewController" action="{!updatequote}">
<apex:form >
    <apex:pageBlock >
        <apex:outputPanel >
            <apex:pageMessages ></apex:pageMessages>
            <apex:commandButton action="{!backToQuote}" value="{!$Label.CPQ_Back_to_Quote}" />
        </apex:outputPanel>
    </apex:pageBlock>
</apex:form>
</apex:page>