<apex:page standardController="Quote" sidebar="false" showHeader="false" renderAs="PDF" extensions="GeneratePDFExtensionV2" action="{!savePDF}" >
<apex:stylesheet value="{!$Resource.QuoteCSS}" />
<!-- Dummy pages to Generate PDF -->


</apex:page>