<apex:page title="Mass Apply Z-Sites" controller="MassApplyZSitesController">

    <apex:includeScript value="{!$Resource.jQuery}" />

    <script type="text/javascript">
        var j$ = jQuery.noConflict();
        
        var activeRowId; 
        function cleanJS(str){
            return ('#' + str.replace(/:/g, '\\:'));
        }
      
        function resetBackgroundColor(){
            j$(activeRowId).parent().parent().css({backgroundColor: 'yellow'});
        }
        
        function highlightRow(button) {
            activeRowId = cleanJS(button.id);
        
            j$('#sites tr').css({backgroundColor: ''});
            j$(activeRowId).parent().parent().css({backgroundColor: 'yellow'});
        } 
      
      function selectAll(test, section){
            
            var selectCheckbox1 = '#' + section + ' input:checkbox';
            var selectCheckbox2 = '#' + section + ' tr td input:checkbox';
            var jSection = '#' + section;
            
            // Did the user just select all or unselect all
            if (j$(test).attr('checked')){
                j$(selectCheckbox1).attr("checked", "checked");
            }else{
                j$(selectCheckbox1).removeAttr('checked');
            }
            
            j$(selectCheckbox2 ).each(function(index){
                if (j$(this).attr("checked")){
                    j$(this).parent().parent().css({backgroundColor: 'yellow'});
                }else{
                    j$(this).parent().parent().css({backgroundColor: ''});
                    j$(jSection  + ' tr td').css({backgroundColor: ''});
                }           
            });
        }
      
      
      
        function tableRowClickHandler(section, row, e) {        
            var target;
            var targ;
            
            if (!e) var e = window.event;
            
            if (e.target) targ = e.target;
			else if (e.srcElement) targ = e.srcElement;
            
            target = targ.type;
            
            /*
            if (!e) 
                target = window.event.srcElement.type;
            else
                target = event.target.type;
            */
            
            var jSection = '#' + section;
            
            var offset = (section== 'sites')?1:3;
            // 3 takes into consideration the filter criteria table.
            // This may be changed if there is time.
            var selectedRow = '' + (row.rowIndex+offset);
                 
            if (target !== 'checkbox'){
                if (!j$(jSection + ' tr:eq('+selectedRow+') input:checkbox').attr("checked")){
                    j$(jSection + ' tr:eq('+selectedRow+') input:checkbox').attr("checked", "checked");
                }else{
                    j$(jSection + ' tr:eq('+selectedRow+') input:checkbox').removeAttr('checked');
                }
            }
            
            // We need to unselect the selectAll and remove all of the highlighting
            j$(jSection + ' thead input:checkbox').removeAttr('checked');         
            j$(jSection + ' tr').css({backgroundColor: ''});
            j$(jSection + ' tr td').css({backgroundColor: ''});
            
            // Hilight the necessary rows (those that are selected)
            j$(jSection + ' tr td input:checkbox').each(function(index){
                if (j$(this).attr("checked")){
                    j$(this).parent().parent().css({backgroundColor: 'yellow'});
                }           
            });
        
        }
        
         function removeSelectAll(){
        
            var a = j$('#locations tr input:checkbox[checked="true"]').not('#locations thead input:checkbox');
                        
            if (a.length==0)
                j$('#locations thead input:checkbox').attr('checked', ''); 
                
            var z = j$('#sites tr input:checkbox[checked="true"]').not('#sites thead input:checkbox');
                        
            if (z.length==0)
                j$('#sites thead input:checkbox').attr('checked', ''); 
         }
        
         function doSearch() {
            searchServer(
              document.getElementById("streetNumber").value,
              document.getElementById("streetName").value,
              document.getElementById("city").value,
              document.getElementById("provinceCode").value
            ); 
        } 
        
       
    </script>
    <apex:form >
      <apex:pageMessages id="errors" /> 
        <apex:pageBlock title="Mass Apply Z-Sites" >
            <div id="sites"><apex:pageBlockSection columns="1" title="Z-Sites">
                <apex:pageBlockTable value="{!lstZSites}" var="t" id="zSites" rendered="{!bRenderZSiteTable}" 
                    onrowclick="tableRowClickHandler('sites', this, event);">
                                        
                     <apex:column >
                          <apex:facet name="header">
                                <apex:inputcheckbox onclick="selectAll(this, 'sites');" />
                            </apex:facet>
                            <apex:inputCheckbox value="{!t.isSelected}" />
                        </apex:column>
                    <apex:column value="{!t.Site.Suite_Floor__c}"
                        style="{!if(t.onQuoteRequest,'color:red;', '')}" />
                    <apex:column value="{!t.Site.Street_Number__c}"
                        style="{!if(t.onQuoteRequest,'color:red;', '')}" /> 
                    <apex:column value="{!t.Site.Street_Name__c}"
                        style="{!if(t.onQuoteRequest,'color:red;', '')}" />
                   
                     <apex:column value="{!t.Site.Street_Type__c}"
                        style="{!if(t.onQuoteRequest,'color:red;', '')}" /> 
                     <apex:column value="{!t.Site.Street_Direction__c}"
                       style="{!if(t.onQuoteRequest,'color:red;', '')}" />
                    <apex:column value="{!t.Site.City__c}"
                        style="{!if(t.onQuoteRequest,'color:red;', '')}" />
                  <apex:column value="{!t.Site.Province_Code__c}"
                        style="{!if(t.onQuoteRequest,'color:red;', '')}" />
                    <apex:column value="{!t.Site.Postal_Code__c}"
                        style="{!if(t.onQuoteRequest,'color:red;', '')}" />
                     <apex:column headerValue="CNI / NNI" style="{!if(t.onQuoteRequest,'color:red;', '')}">
                            <apex:outputLabel escape="false" value="{!if(t.Site.Type__c == 'CNI' || t.Site.Type__c == 'NNI',t.Site.Type__c,'')}"/> 
                        </apex:column>      
                        
                    <apex:column headerValue="Serviceable Site"
                        value="{!t.Site.ServiceableLocation__r.Name}"
                        style="{!if(t.onQuoteRequest,'color:red;', '')}" />
                </apex:pageBlockTable>
                <apex:outputText rendered="{!bRenderZSiteMessage}"
                    value="{!$Label.No_Z_Sites}" />
            </apex:pageBlockSection></div>

            <div id="locations">
                <apex:pageBlockSection columns="1" title="A-Sites" id="prospectSitesSection">
                
               
                    <table width="100%">
                    <tr style="text-align:center;">
                        <td>
                            <span style="font-weight:bold;">Street Number: </span>
                             <input type="text" maxlength="8" size="5" id="streetNumber" onkeyup="doSearch();"/>
                             <span style="font-weight:bold;">Street Name: </span>
                             <input type="text" id="streetName" onkeyup="doSearch();"/>
                             <span style="font-weight:bold;">City: </span>
                             <input type="text" id="city" onkeyup="doSearch();"/>
                             <span style="font-weight:bold;">Province Code: </span>
                             <input type="text" size="3" maxlength="2" id="provinceCode" onkeyup="doSearch();"/>
                        </td>
                    </tr>
                </table>
                
                
                    <apex:pageBlockTable value="{!ProspectSites}" rendered="{!bRenderSiteTable}"
                        onrowclick="tableRowClickHandler('locations', this, event);"
                        var="siteWrapper" id="prospectSitesTable">
                        <apex:column >
                             <apex:facet name="header">
                                <apex:inputcheckbox onclick="selectAll(this, 'locations');" />
                            </apex:facet>
                            <apex:inputCheckbox value="{!siteWrapper.isSelected}" />
                        </apex:column>
                        <apex:column value="{!siteWrapper.Site.Suite_Floor__c}"
                            style="{!if(siteWrapper.onQuoteRequest,'color:red;', '')}" /> 
                        <apex:column value="{!siteWrapper.Site.Street_Number__c}"
                            style="{!if(siteWrapper.onQuoteRequest,'color:red;', '')}" />
                        <apex:column value="{!siteWrapper.Site.Street_Name__c}"
                            style="{!if(siteWrapper.onQuoteRequest,'color:red;', '')}" />
                        <apex:column value="{!siteWrapper.Site.Street_Type__c}"
                            style="{!if(siteWrapper.onQuoteRequest,'color:red;', '')}" />
                        <apex:column value="{!siteWrapper.Site.Street_Direction__c}"
                            style="{!if(siteWrapper.onQuoteRequest,'color:red;', '')}" />
                        <apex:column value="{!siteWrapper.Site.City__c}"
                            style="{!if(siteWrapper.onQuoteRequest,'color:red;', '')}" />
                        <apex:column value="{!siteWrapper.Site.Province_Code__c}"
                            style="{!if(siteWrapper.onQuoteRequest,'color:red;', '')}" /> 
                        <apex:column value="{!siteWrapper.Site.Postal_Code__c}"
                            style="{!if(siteWrapper.onQuoteRequest,'color:red;', '')}" />                          
                        <apex:column headerValue="Type" style="{!if(siteWrapper.onQuoteRequest,'color:red;', '')}">
                            <apex:outputLabel escape="false" value="{!siteWrapper.Site.Type__c}"/>
                        </apex:column>  
                        <apex:column headerValue="Z-Site" value="{!siteWrapper.Site.Z_Sites__c}"
                            style="{!if(siteWrapper.onQuoteRequest,'color:red;', '')}" />
                        
                    </apex:pageBlockTable>
                <apex:outputText rendered="{!bRenderSiteMessage}"
                    value="{!$Label.No_Prospect_Sites}" />   

            </apex:pageBlockSection>
            </div>
            <p style="text-align:center;">
                <apex:commandButton action="{!updateZSites}" rendered="{!bRenderSiteTable}" value="Apply Z-Site(s)" status="status" rerender="zSites,prospectSitesTable,errors" title="Apply Selected Z-Site for the chosen A-Site(s)." oncomplete="removeSelectAll();"/>
                <apex:commandButton action="{!removeZSites}" rendered="{!bRenderSiteTable}" value="Clear Z-Site(s)" status="status" rerender="zSites,prospectSitesTable,errors" title="Removes Chosen Z-Site(s) for the chosen A-Site(s)." oncomplete="removeSelectAll();"/>
                 <apex:commandButton action="{!removeZSites}" rendered="{!bRenderSiteTable}" value="Remove All Z-Sites" status="status" rerender="zSites,prospectSitesTable,errors" title="Remove All Z-Site for the chosen A-Site(s)." oncomplete="removeSelectAll();">
                     <apex:param name="allSites" value="true"/>
                 </apex:commandButton>
                <apex:commandButton action="{!returnToOpportunity}" value="Return to Opportunity" status="status" title="Return to the Opportunity associated with the Sites." />
                <apex:outputText rendered="{!bFromQuoteRequest}" value=" " style="padding-left:20px;"/>
                <apex:commandButton action="{!addSites}" rendered="{!bFromQuoteRequest}" rerender="zSites,prospectSitesTable,errors" value="Add Site(s) to Quote Request" status="status" title="Adds the selected site(s) to the Quote Request."  oncomplete="removeSelectAll();"/>
                <apex:commandButton action="{!removeSites}" rendered="{!bFromQuoteRequest}" rerender="zSites,prospectSitesTable,errors" value="Remove Site(s) from Quote Request" status="status" title="Removes the selected site(s) from the Quote Request."  oncomplete="removeSelectAll();"/>
                <apex:commandButton action="{!returnToQuoteRequest}" rendered="{!bFromQuoteRequest}" value="Return to Quote Request" status="status" title="Return to the Quote Request associated with the Sites." />
            </p>

        </apex:pageBlock>
        <apex:actionFunction name="searchServer" action="{!runSearch}" rerender="prospectSitesTable,errors">
          <apex:param name="streetNumber" value="" />
          <apex:param name="streetName" value="" />
          <apex:param name="city" value="" />
          <apex:param name="provinceCode" value="" />
      </apex:actionFunction>
    </apex:form>
</apex:page>