<apex:page standardController="Opportunity" extensions="ContractOppRenewalExtension">

<apex:includeScript value="{!$Resource.jQuery}" />
<apex:includeScript value="{!$Resource.blockUI}"/> 

<script>
var j$ = jQuery.noConflict();
var acctId;

j$(document).ready(function() {
    acctId = '{!opportunity.accountId}';
    acctName = '{!opportunity.account.Name}';
});



 function lockScreen(){   
            j$.blockUI({ message: j$('#loading') }); 
        }
        function unlockScreen(){   
            j$.unblockUI(); 
        }

/* We need to fire a method and then reload the locations sections */
    function tableRowClickHandler(section, row, e, id){
        
        var target;
            var targ;
            
            if (!e) var e = window.event;
            
            if (e.target) targ = e.target;
            else if (e.srcElement) targ = e.srcElement;
            
            target = targ.type;
            
            var jSection = '#' + section;
            
            //var offset = (section== 'sites')?1:3;
            // 3 takes into consideration the filter criteria table.
            // This may be changed if there is time.
           /*
            var selectedRow = row.rowIndex + 1;
                 
            if (target !== 'checkbox'){
                if (!j$(jSection + ' tr:eq('+selectedRow+') input:checkbox:eq(0)').attr("checked")){
                    j$(jSection + ' tr:eq('+selectedRow+') input:checkbox:eq(0)').attr("checked", true);
                }else{
                    j$(jSection + ' tr:eq('+selectedRow+') input:checkbox:eq(0)').attr("checked", false);
                }
            }
            
            // Hilight the necessary rows (those that are selected)
            j$(jSection + ' tr td input:checkbox:even').each(function(index){
                if (j$(this).attr("checked")){
                    j$(j$(this).parent().siblings()[5]).find('input:checked').attr('checked', false); 
                    j$(this).parent().parent().css({"background-color": "#FFFAB3"}); 
                }else{
                    j$(this).parent().parent().css({"background-color": ""}); 
                }             
            });
            */
            
            if (target !== 'checkbox'){
                if (!j$(row).find('input:checkbox:eq(0)').attr("checked")){
                    j$(row).find('input:checkbox:eq(0)').attr("checked", true);
                    j$(row).css({"background-color": "#FFFAB3"});
                    j$(row).find('td').css({"background-color": "#FFFAB3"});
                }else{
                    j$(row).find('input:checkbox:eq(0)').attr("checked", false);
                    j$(row).find('td').css({"background-color": ""});
                }
            }else{
                if (j$(row).find('input:checkbox:eq(0)').attr("checked")){
                    j$(row).css({"background-color": "#FFFAB3"});
                    j$(row).find('td').css({"background-color": "#FFFAB3"});
                }else{
                    j$(row).find('td').css({"background-color": ""});
                }
            }       
    }
    
    function updateRelated(){ 
        var isChecked = j$("input[id$='No_Existing_Contract__c']")[0].checked;
        
        if (!isChecked){
            if(j$('#existingContracts input:checkbox:even:checked').length == 0){
                alert('You must ensure that there is at least one existing contract selected if the No Existing Contract in Salesforce is unchecked.');
                return;
            }
        }
        
        updateRelatedContracts();
    }
    
    function isValidInput(){
        var oppStage = j$("select[id$='oppStage']")[0].selectedIndex;
        var expDate = j$("input[id$='expDate']")[0].value;
        var oppName = j$("input[id$='oppName']")[0].value;
        var oppProb = j$("input[id$='oppProb']")[0].value;
        
        if (oppStage == 0 || expDate == '' || oppName == '' || oppProb == ''){
            alert('Ensure to set all mandatory fields prior to changing the Account for this Renewal Opportunity.');
            return false;
        }else
            return true;
        
    }
    
    function updateContractList(){
        var newAcctId = j$("input[id$='accountField_lkid']")[0].value;
        
        if (acctId != newAcctId){
            if (!isValidInput()){
                    j$("input[id$='accountField_lkold']")[0].value = acctName;
                    j$("input[id$='accountField']")[0].value = acctName;
                    j$("input[id$='accountField_lkid']")[0].value = acctId;
                    resetAccount(acctId); 
                    return;
            }else{
                var answer = confirm("You have just changed the account related to this opportunity - do you want to update the related contract list as well?  You will not be able to save this opportunity until you have done so?");
                if (answer){
                    acctId = newAcctId;
                    getRelatedContracts(acctId);
                }else{
                    j$("input[id$='accountField_lkold']")[0].value = acctName;
                    j$("input[id$='accountField']")[0].value = acctName;
                    j$("input[id$='accountField_lkid']")[0].value = acctId;
                    resetAccount(acctId); 
                }
            }
        }
    }

</script>

<apex:form >
<apex:pageMessages escape="false" id="errors" />
<apex:sectionHeader subtitle="{!Opportunity.Name}" title="{!IF(isNew, 'New Opportunity', 'Opportunity Edit')}"/>
    <apex:pageBlock mode="edit" title="Opportunity Edit">
    <!--    <apex:pageBlockButtons >
            <apex:commandButton id="saveButton" onclick="javascript:updateRelatedContracts();" value="Save" title="Saves the Opportunity and the Related Contracts." />
            <apex:commandButton action="{!cancel}" value="Cancel"/>
       </apex:pageBlockButtons> -->
       <p style="text-align:center;padding-bottom:10px;">
       <span id="saveButton" onclick="updateRelated();" class="btn">Save</span>
       <span id="cancelButton" onclick="cancel();" class="btn">Cancel</span>
       </p>
        <apex:pageBlockSection title="Opportunity Information" columns="2" id="OppInfo">
                <apex:inputField rendered="{!isNew}" value="{!opportunity.Amount}"/>
                <apex:outputField rendered="{!NOT(isNew)}" value="{!opportunity.Amount}"/>
                
                <apex:outputField rendered="{!NOT(isNew)}" label="Opportunity Owner" value="{!opportunity.OwnerId}"/>
                <apex:outputText rendered="{!isNew}" label="Opportunity Owner" value="{!owner}"/>
                <apex:outputField rendered="{!NOT(isNew)}" label="Opportunity Record Type" value="{!opportunity.RecordTypeId}"/>
                <apex:outputText rendered="{!isNew}" label="Opportunity Record Type" value="{!RecordType}"/>

                
                <apex:inputField id="expDate" value="{!opportunity.CloseDate}"/>
                <apex:outputField rendered="{!NOT(isNew)}" value="{!opportunity.Opportunity_Number__c}"/>
                <apex:outputText rendered="{!isNew}" value=""/>
                <!--<apex:inputField value="{!opportunity.Actual_Sign_Date__c}"/> Replaced Actual_Sign_Date__c with CloseDate-->
                <apex:inputField id="oppName" value="{!opportunity.Name}"/>
                <apex:inputField id="oppStage" value="{!opportunity.StageName}"/>
                <apex:inputField onchange="javascript:updateContractList();" id="accountField" required="true" value="{!opportunity.AccountId}"/>
                <apex:inputField id="oppProb" value="{!opportunity.Probability}"/>
                <apex:inputField value="{!opportunity.Type}"/>
                <apex:inputField value="{!opportunity.Push_Counter__c}"/>
                <!--<apex:inputField value="{!opportunity.Reason_Lost__c}"/>-->
                <apex:inputField value="{!opportunity.NextStep}"/>
                <!--<apex:inputField value="{!opportunity.Lost_Comments__c}"/>-->
                <apex:outputText value=""/>
                <apex:inputField value="{!opportunity.Contact__c}"/>
                <apex:outputText value=""/>
                <apex:inputField value="{!opportunity.Mandatory_COP_Fields_Status__c}"/>
                <apex:outputText value=""/>
                <apex:inputField value="{!opportunity.Override_Mandatory_Fields__c}"/>
                <apex:outputText value=""/>
                <apex:inputField value="{!opportunity.Opportunity_ADM__c}"/>
                <apex:outputText value=""/>
                <apex:inputField value="{!opportunity.Is_Verbal_Commit__c}"/>
                <apex:outputText value=""/>
                <apex:inputField id="No_Existing_Contract__c" value="{!opportunity.No_Existing_Contract__c}"/>
            </apex:pageBlockSection>
            
            <div id="existingContracts">
            
                <apex:pageBlockSection title="Existing Contracts" id="existingContract1" columns="1"> 
                        
                        <apex:pageBlockTable rendered="{!(numExisting != 0)}" onrowclick="tableRowClickHandler('existingContracts', this, event);" value="{!ContractWrapperList}" var="cWrap">
                            <apex:column style="{!if(cWrap.isSelected,'background-color:#FFFAB3', '')}">
                                <apex:inputCheckbox value="{!cWrap.isSelected}"/>
                            </apex:column>
                            <apex:column style="{!if(cWrap.isSelected,'background-color:#FFFAB3', '')}" value="{!cWrap.Contract.Contract_Number__c}"/>
                            <apex:column style="{!if(cWrap.isSelected,'background-color:#FFFAB3', '')}" value="{!cWrap.Contract.Name}"/>
                            <apex:column style="{!if(cWrap.isSelected,'background-color:#FFFAB3', '')}" value="{!cWrap.Contract.Contract_Start_Date__c}"/>
                            <apex:column style="{!if(cWrap.isSelected,'background-color:#FFFAB3', '')}" value="{!cWrap.Contract.Contract_End_Date__c}"/>
                            <apex:column style="{!if(cWrap.isSelected,'background-color:#FFFAB3', '')}" value="{!cWrap.Contract.Status__c}"/>
                            <apex:column style="{!if(cWrap.isSelected,'background-color:#FFFAB3', '')}" headerValue="Current Contract">
                                <apex:inputCheckbox disabled="{!cWrap.isSelected}" value="{!cWrap.Contract.Current_Contract_Flag__c}"/>
                            </apex:column>
                        </apex:pageBlockTable>
                           <apex:outputText rendered="{!numExisting == 0}" value="Currently there are no Contract linked to this Account - Change the Account to update this list" />
                </apex:pageBlockSection>
            </div>
            
            <apex:pageBlockSection title="Revenue Information" columns="2">
                <apex:inputField value="{!opportunity.Existing_MRR__c}"/>
                <apex:inputField value="{!opportunity.Expected_Billing_Date__c}"/>
                <apex:inputField value="{!opportunity.Estimated_MRR__c}"/>
                <apex:inputField value="{!opportunity.COR__c}"/>
                <apex:inputField value="{!opportunity.New_Term_Months__c}"/>
                <apex:inputField value="{!opportunity.COR_Comments__c}"/>
                <apex:inputField value="{!opportunity.Estimated_One_Time_Charge__c}"/>
                <apex:inputField value="{!opportunity.Build_Cost__c}"/>
            </apex:pageBlockSection>
            <apex:pageBlockSection title="Additional Information" columns="2">
                <apex:inputField value="{!opportunity.LeadSource}"/>
                <apex:inputField value="{!opportunity.Assigned_Campaign__c}"/>
                <apex:inputField value="{!opportunity.Data_Source__c}"/>
                <apex:inputField value="{!opportunity.Assigned_Telemarketing__c}"/>
                <apex:inputField value="{!opportunity.Order_Tracker__c}"/>
                <apex:inputField value="{!opportunity.Qualify_by__c}"/>
                <apex:inputField value="{!opportunity.Description_Multiple_networks__c}"/>
                <apex:outputText value=""/>
                <apex:inputField value="{!opportunity.referral_Salutation__c}"/>
                <apex:outputText value=""/>
                <apex:inputField value="{!opportunity.Referral_Agent_First_Name__c}"/>
                <apex:outputText value=""/>
                <apex:inputField value="{!opportunity.Referral_Agent_Last_Name__c}"/>
                <apex:outputText value=""/>
                <apex:inputField value="{!opportunity.referral_Phone__c}"/>
                <apex:outputText value=""/>
                <apex:inputField value="{!opportunity.Referral_Agent_Email__c}"/>
                <apex:outputText value=""/>
                <apex:inputField value="{!opportunity.Referral_Agent_ID__c}"/>
                <apex:outputText value=""/>

            </apex:pageBlockSection>
    </apex:pageBlock>
    
    

<apex:actionFunction name="updateRelatedContracts" action="{!updateRelatedContracts}"/>
<apex:actionFunction name="cancel" action="{!cancel}"/>
<apex:actionFunction name="resetAccount" action="{!resetAccount}" status="status">
    <apex:param name="acctId" value=""/>
</apex:actionFunction>
<apex:actionFunction name="getRelatedContracts" action="{!getRelatedContracts}" status="status" rerender="existingContract1, OppInfo">
    <apex:param name="acctId" value=""/>
</apex:actionFunction>

          
     <div id="loading" style="display:none; cursor: default">  
                <apex:image url="{!$Resource.loading}" width="20%"/> 
            </div> 
    <script>
        function setFocusOnLoad() {}
    </script>
</apex:form>
<apex:actionStatus id="status" onStart="lockScreen();" onStop="unlockScreen();" />

</apex:page>