<!--   
@Name:  ShiftInlineOLIView 
@Description: VisualForce page to display the Opportunity Line Items in a table. It will allow inline editing if there is no Opportunity Primary Quote
@Dependancies: ShiftInlineOLIView_Extension
@Version: 1.0.0

===VERSION HISTORY ===
Date        | Version Number | Author | Description
04-14-2014  | 1.0.0          | Jocsan | Initial
-->
<apex:page standardController="Opportunity" extensions="ShiftInlineOLIView_Extension">
  
    <script>
        function setFocusOnLoad() {}    
        
        // reload page when save
        function theCompleteSave() {
            window.top.location = '/{!Opportunity.Id}?oli.auto.scroll=1';
        }
        
        // get url param
        function getUrlVars() {
            var vars = {};
            var parts = window.parent.location.href.replace(/[?&]+([^=&]+)=([^&]*)/gi, function(m,key,value) {
                vars[key] = value;
            });
            return vars;
        }
        
        // auto scroll when needed
        window.onload = function() {    
            if (getUrlVars()['oli.auto.scroll'] == 1) {
                parent.document.getElementById('066L00000005Ke8').scrollIntoView();
            }    
        };        
    </script>

    <apex:form id="theForm">
        <apex:pageBlock title="Products" id="thePageBlock">
            <apex:pageBlockButtons rendered="{!Opportunity.Primary_Quote__c == null}" location="top">
                <apex:commandButton value="Save" action="{!theSave}" oncomplete="theCompleteSave();" status="theStatus"/>
                <apex:commandButton value="Cancel" action="{!theCancel}" reRender="thePageBlock" status="theStatus"/>
                <apex:actionStatus startText="Processing..." stopText="" id="theStatus"/>
            </apex:pageBlockButtons>
            <apex:pageBlockTable value="{!theOLIList}" var="item">
                <apex:column value="{!item.PricebookEntry.Name}"/>
                <apex:column headerValue="Expected MRR">
                    <apex:outputField value="{!item.UnitPrice}" rendered="{!Opportunity.Primary_Quote__c != null}"/>
                    <apex:inputField value="{!item.UnitPrice}" rendered="{!Opportunity.Primary_Quote__c == null}"/>
                </apex:column>
            </apex:pageBlockTable>
        </apex:pageBlock>
    </apex:form>
</apex:page>