<apex:page controller="TAG_AccountMSDOwnerTransferController" contentType="application/x-excel#AccountMSDReport.xls" >
<!--contentType="application/x-excel#AccountMSDReport.xls" -->
<table border="1" >
     <thead>
        <tr>
            <th ><font color="darkblue">{!$Label.Transfer_MAL_ID}</font></th>
            <th ><font color="darkblue">{!$Label.Transfer_Account_Name}</font></th>
            <th ><font color="darkblue">Total Organizational Employees</font></th>
            <th ><font color="darkblue">{!$Label.Transfer_MSD}</font></th>
            <th ><font color="darkblue">Shared MSD Code</font></th>
            <th ><font color="darkblue">MSD Description</font></th>
            <th ><font color="darkblue">Owner</font></th>
            <th ><font color="darkblue">Owner Employee ID</font></th>
            <th ><font color="darkblue">District #</font></th>
            <th ><font color="darkblue">Owner Manager</font></th>
            <th ><font color="darkblue">Owner Assignment Approver</font></th>
            <th ><font color="darkblue">Owner Channel</font></th>
            <th ><font color="darkblue">Owner Region</font></th>
            <th ><font color="darkblue">Owner Location</font></th>
        </tr>
    </thead>
    <tbody>
        <apex:repeat value="{!lstAllResultAccWrap}" var="obj">
            <tr>
                <td ><apex:outputlabel >{!obj.acc.Internal_Duns__c}</apex:outputlabel></td>
                <td ><apex:outputlabel >{!obj.acc.Name}</apex:outputlabel></td>
                <td ><apex:outputlabel >{!obj.acc.NumberOfEmployees}</apex:outputlabel></td>
                <td ><apex:outputlabel ></apex:outputlabel></td>
                <td ><apex:outputlabel ></apex:outputlabel></td>
                <td ><apex:outputlabel ></apex:outputlabel></td>
                <td ><apex:outputlabel >{!obj.acc.Owner.Name}</apex:outputlabel></td>
                <td ><apex:outputlabel >{!obj.acc.Owner.Employee_Id__c}</apex:outputlabel></td>
                <td ><apex:outputlabel >{!obj.acc.District__r.Name}</apex:outputlabel></td>
                <td ><apex:outputlabel >{!obj.acc.Owner.Manager.Name}</apex:outputlabel></td>
                <td ><apex:outputlabel >{!obj.OwnerApprovername}</apex:outputlabel></td>
                <td ><apex:outputlabel >{!obj.acc.Owner.Channel__c}</apex:outputlabel></td>
                <td ><apex:outputlabel >{!obj.acc.Owner.Sub_Region__c}</apex:outputlabel></td>
                <td ><apex:outputlabel >{!obj.acc.Owner.Region__c}</apex:outputlabel></td>
            </tr>
            <apex:repeat value="{!obj.lstMSDCodeWrap}" var="objMSD">                 
                <tr>
                    <td ><apex:outputlabel >{!obj.acc.Internal_Duns__c}</apex:outputlabel></td>
                    <td ><apex:outputlabel >{!obj.acc.Name}</apex:outputlabel></td>
                    <td ><apex:outputlabel >{!obj.acc.NumberOfEmployees}</apex:outputlabel></td>
                    <td ><apex:outputlabel >{!objMSD.msdObj.MSD_Code_External__c}</apex:outputlabel></td>
                    <td ><apex:outputlabel ></apex:outputlabel></td>
                    <td ><apex:outputlabel >{!objMSD.msdObj.Description__c}</apex:outputlabel></td>
                    <td ><apex:outputlabel >{!objMSD.msdObj.Owner.Name}</apex:outputlabel></td>
                    <td ><apex:outputlabel >{!objMSD.MsdUser.Employee_Id__c}</apex:outputlabel></td>
                    <td ><apex:outputlabel >{!objMSD.msdObj.District__r.Name}</apex:outputlabel></td>
                    <td ><apex:outputlabel >{!objMSD.MsdUser.Manager.Name}</apex:outputlabel></td>
                    <td ><apex:outputlabel >{!objMSD.OwnerApprovername}</apex:outputlabel></td>
                    <td ><apex:outputlabel >{!objMSD.MsdUser.Channel__c}</apex:outputlabel></td>
                    <td ><apex:outputlabel >{!objMSD.MsdUser.Sub_Region__c}</apex:outputlabel></td>
                    <td ><apex:outputlabel >{!objMSD.MsdUser.Region__c}</apex:outputlabel></td>
                </tr>
            </apex:repeat>
            <apex:repeat value="{!obj.lstSharedMSDCodeWrap}" var="objMSD">                 
                <tr>
                    <td ><apex:outputlabel >{!obj.acc.Internal_Duns__c}</apex:outputlabel></td>
                    <td ><apex:outputlabel >{!obj.acc.Name}</apex:outputlabel></td>
                    <td ><apex:outputlabel >{!obj.acc.NumberOfEmployees}</apex:outputlabel></td>
                    <td ><apex:outputlabel ></apex:outputlabel></td>
                    <td ><apex:outputlabel >{!objMSD.sharedMSDObj.Shared_MSD_Code__r.MSD_Code_External__c}</apex:outputlabel></td>
                    <td ><apex:outputlabel >{!objMSD.sharedMSDObj.Shared_MSD_Code__r.Description__c}</apex:outputlabel></td>
                    <td ><apex:outputlabel >{!objMSD.sharedMSDObj.Shared_MSD_Code__r.Owner.Name}</apex:outputlabel></td>
                    <td ><apex:outputlabel >{!objMSD.SharedMsdUser.Employee_Id__c}</apex:outputlabel></td>
                    <td ><apex:outputlabel >{!objMSD.sharedMSDObj.Shared_MSD_Code__r.District__r.Name}</apex:outputlabel></td>
                    <td ><apex:outputlabel >{!objMSD.SharedMsdUser.Manager.Name}</apex:outputlabel></td>
                    <td ><apex:outputlabel >{!objMSD.OwnerApprovername}</apex:outputlabel></td>
                    <td ><apex:outputlabel >{!objMSD.SharedMsdUser.Channel__c}</apex:outputlabel></td>
                    <td ><apex:outputlabel >{!objMSD.SharedMsdUser.Sub_Region__c}</apex:outputlabel></td>
                    <td ><apex:outputlabel >{!objMSD.SharedMsdUser.Region__c}</apex:outputlabel></td>
                </tr>
            </apex:repeat>
        </apex:repeat>
    </tbody>
</table>
</apex:page>