<apex:component access="global" controller="EmailAttachmentController">
 <apex:attribute name="idCIF" description="This is the ID for the CIF Attachment." type="String" assignTo="{!sCIF}"/> 
    <apex:stylesheet value="{!$Resource.QuoteCSS}" />
    <div style="page-break-after:always;">
    
        <table width="100%" border = "0" >

            <tr>
                <td colspan ="3"><apex:image url="{!$Resource.RogersLogoSmall}"/></td>
            </tr>

<apex:outputText value="{!generalDetails}" escape="false"/> 
</table>
</div>

<div> 
    <div class="font6">{!$Label.CIF_Site_Information}</div> 
    <apex:outputText value="{!siteDetails}" escape="false"/> 
    <div class = "font4">
        <c:PDFHeaderFooter type="footer" position="right" showPageNumbers="true"/>
    </div>

</div>
</apex:component>