<apex:page sidebar="false" showHeader="false">
	<html> 
	  <body onload="parentIFrameResize()"> 
	    <script type="text/javascript"> 
	      // Tell the parent iframe what height the iframe needs to be
	      function parentIFrameResize() {
	         // This works as our parent's parent is on our domain..
	         parent.parent.resizeIFrame(getParam('height'));
	      }
	
	      // Helper function, parse param from request string
	      function getParam (name) {
	        name = name.replace(/[\[]/,"\\\[").replace(/[\]]/,"\\\]");
	        var regexS = "[\\?&]"+name+"=([^&#]*)";
	        var regex = new RegExp( regexS );
	        var results = regex.exec( window.location.href );
	        if( results == null )
	          return "";
	        else
	          return results[1];
	      }
	    </script> 
	  </body> 
	</html>
</apex:page>