<apex:page controller="fileboard.DocumentController" tabStyle="Fileboard__tab" sidebar="false" showHeader="false" showChat="false">
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
	
    <apex:sectionHeader title="Create a File Link" subtitle="Select presentation"/>
    
    <apex:messages />
   
    <apex:form >
        <apex:pageBlock >
            <apex:pageBlockButtons >
                <apex:commandButton value="Select" immediate="true" onClick="performSelect(); return false;" />
                <apex:commandButton value="Cancel" immediate="true" onClick="performClose(); return false;" />
            </apex:pageBlockButtons>
            
            <apex:pageBlockSection showHeader="false">
                <apex:pageBlockSectionItem >
                    <apex:outputLabel value="Show Files" for="scope"></apex:outputLabel>
                    <apex:selectList id="scope" value="{!selectedScope}" size="1" title="Source">
                        <apex:selectOptions value="{!scopeOptions}"></apex:selectOptions>
                        <apex:actionSupport event="onchange" rerender="documentsPanel" status="statusChange" />                    
                    </apex:selectList>
                </apex:pageBlockSectionItem>      
            </apex:pageBlockSection>
            
            <apex:actionStatus startText="Updating..." id="statusChange"/>
            <apex:variable var="d" value="{!documents}" />
            
            <apex:outputPanel id="documentsPanel">
            	<apex:pageBlockTable value="{!d.folders}" var="folder" width="100%">
                	<apex:column width="75">
                    </apex:column>
                    <apex:column >
                        <apex:facet name="header"><b>Folder name</b></apex:facet>  
                        <a href="?scope={!selectedScope}&folder={!folder.key}" style="text-decoration:none">{!folder.name}</a>
                    </apex:column>
                    <apex:column width="200">
                        <a href="?scope={!selectedScope}&folder={!folder.key}">View</a>
                    </apex:column>
                </apex:pageBlockTable>                
            	
            	<p>&nbsp;</p>
            	
                <apex:pageBlockTable value="{!d.documents}" var="document" width="100%" rendered="{!d.documents.size > 0}">
                    <apex:column width="75">
                        <input name="document_key" type="radio" value="{!document.key}" />   
                    </apex:column>
                    
                    <apex:column >
                        <apex:facet name="header"><b>Filename</b></apex:facet>  
                        {!document.filename}
                    </apex:column>
                    
                    <apex:column width="200">
                        <apex:facet name="header"><b>Size</b></apex:facet>
                        {!document.human_size}
                    </apex:column>
                </apex:pageBlockTable>                
            </apex:outputPanel>
        </apex:pageBlock>
    </apex:form>
    
    <script type="text/javascript">
    	function performSelect() {
    		if ($('input[type="radio"]:checked').length == 0) {
    			alert('Please select a file first.')
    			return;
    		}
    		
    		var selected = $('input[type="radio"]:checked');
    		var obj = {
    			action: 'file',
    			key: selected.val(),
    			filename: selected.parents('.dataCell').siblings(':first').text()
    		};
    		
    		if (window.opener) {
    			// Javascript popup mode
	    		window.opener.selectDocumentCallback(obj);    		
	    		window.close();
    		}
    		else {
    			// Sliding panel mode
    			parent.postMessage(obj, "*")
    		}
    	}
    	
    	function performClose() {
    		if (window.opener) {
    			window.close();
    		}
    		else {
    			// Sliding panel mode
    			parent.postMessage({ action: 'close' }, "*")
    		}
    	}
    </script>
</apex:page>