<!-- 
    Apttus Config & Pricing
    SelectConfigProducts
     
    @2010-2011 Apttus Inc. All rights reserved.
 -->
<apex:page standardController="Apttus_Config2__ProductConfiguration__c"
		   extensions="Apttus_Config2.SelectConfigProductsController2,Apttus_Config2.RemoteActionController,Apttus_Config2.RemoteCartController" 
		   showHeader="{!ShowHeader}" 
           sidebar="true" 
           standardStylesheets="true" 
		   cache="false" 
		   tabstyle="Product2" 
		   action="{!doLoad}">
	
	<apex:includeScript value="{!URLFOR($Resource.Apttus_Config2__YUILibrary, '/yui/build/yahoo-dom-event/yahoo-dom-event.js')}" />
	<apex:includeScript value="{!URLFOR($Resource.Apttus_Config2__YUILibrary, '/yui/build/container/container-min.js')}" />
	<apex:includescript value="{!URLFOR($Resource.Apttus_Config2__YUILibrary, '/yui/build/dragdrop/dragdrop-min.js')}" />
	<apex:includescript value="{!URLFOR($Resource.Apttus_Config2__YUILibrary, '/yui/build/animation/animation-min.js')}" />
	<apex:includeScript value="{!URLFOR($Resource.Apttus_Config2__YUILibrary, '/yui/build/treeview/treeview-min.js')}" />
	<apex:includeScript value="{!URLFOR($Resource.Apttus_Config2__YUILibrary, '/yui/build/menu/menu-min.js')}" />
	<apex:includeScript value="{!URLFOR($Resource.Apttus_Config2__YUILibrary, '/yui/build/yahoo/yahoo-min.js')}" />
	<apex:includeScript value="{!URLFOR($Resource.Apttus_Config2__JQueryUILibrary19, 'js/jquery-1.8.3.min.js')}"/>
	<apex:includeScript value="{!URLFOR($Resource.Apttus_Config2__JQueryUILibrary19, 'js/jquery-ui-1.9.2.custom.min.js')}"/>
	
	<apex:stylesheet value="{!URLFOR($Resource.Apttus_Config2__YUILibrary, '/yui/build/assets/skins/sam/skin.css')}" />
	<apex:stylesheet value="{!URLFOR($Resource.Apttus_Config2__YUILibrary, '/yui/build/treeview/assets/skins/sam/treeview.css')}" />
	<apex:stylesheet value="{!URLFOR($Resource.Apttus_Config2__YUILibrary, '/yui/examples/treeview/assets/css/menu/tree.css')}" />
	<apex:stylesheet value="{!URLFOR($Resource.Apttus_Config2__YUILibrary, '/yui/build/menu/assets/skins/sam/menu.css')}" />
	<apex:stylesheet value="{!URLFOR($Resource.Apttus_Config2__YUILibrary, '/yui/build/container/assets/skins/sam/container.css')}" />
	
	<apex:includeScript value="{!$Resource.Apttus_Config2__CPQJSLibrary}"/>
	<apex:includeScript value="{!$Resource.Apttus_Config2__ConfigJSLib}"/>
	
	<!-- 
	<apex:includeScript value="{!$Resource.ConfigPromptJSLib}"/>
	<apex:includeScript value="{!$Resource.ConfigSelectJSLib}"/>
	 -->
	<script type="text/javascript">
		var j$ = jQuery.noConflict();
		//set the title and progress bar icon
		var aptLoadingPageHeader = "{!JSINHTMLENCODE($Label.LoadingPage)}";
		var aptRuleAlertHeader = "{!JSINHTMLENCODE($Label.ConstraintRuleAlert)}";
		var aptDialogBody = '<center><img src="{!URLFOR($Resource.Image_LoadingPage)}" /></center>';
		
		j$.APTTUS.sessionID = "{!$Api.Session_ID}";
		j$.APTTUS.deferPricingUntilCart = "{!DeferPricingUntilCart}";
		j$.APTTUS.configurationId = "{!configurationId}";
		j$.APTTUS.classificationId = "{!classificationId}";

		j$.APTTUS.RemoteController = {};
		j$.APTTUS.RemoteController.getProductDescription = '{!$RemoteAction.RemoteActionController.getProductDescription}';
		j$.APTTUS.RemoteController.saveSelectedComparision = '{!$RemoteAction.RemoteActionController.saveSelectedComparision}';
		
		j$.APTTUS.RemoteController.doComputeBasePriceForItemColl = '{!$RemoteAction.RemoteCartController.doComputeBasePriceForItemColl}';
		j$.APTTUS.RemoteController.doComputeNetPriceForItemColl = '{!$RemoteAction.RemoteCartController.doComputeNetPriceForItemColl}';
		j$.APTTUS.RemoteController.doComputeTotalPriceForCart = '{!$RemoteAction.RemoteCartController.doComputeTotalPriceForCart}';
		
		j$.APTTUS.ApplyAutomaticPricing = true;
		j$.APTTUS.configurationId = '{!ConfigurationId}';
		
		YAHOO.namespace("force.com");
		// detail panel
		YAHOO.force.com.globalCtx = new Object();
		YAHOO.force.com.clsNodes = new Array();
		YAHOO.force.com.selectedNode = new Object();
				
		//for IE load the script into DOM
		function loadJSFile(filename){
			var fileref = document.createElement('script');
		 	if (typeof fileref != "undefined"){
			 	fileref.setAttribute("type","text/javascript");
			 	fileref.setAttribute("src", filename);
		  		document.getElementsByTagName("head")[0].appendChild(fileref);
		 	}
		}
		//load the JavaScript file. This is necessary for IE
		loadJSFile("{!$Resource.ConfigPromptJSLib}");
		loadJSFile("{!$Resource.ConfigSelectJSLib}");
		
		
	</script>

	<script type="text/javascript">
	
		// array contains function
        Array.prototype.contains = function (element) {
			for (var i = 0; i < this.length; i++) {
				if (this[i] == element) {
					return true;
					
				}
				
			}
			
			return false;
			
		}
		
        /**
	     * Get product information and display in popup panel
	     * using JavaScript remoting
	     */
	    function getRemoteProductDetail(productId){
	    	getProductDetail2('{!$RemoteAction.RemoteActionController.getProductDescription}', productId);
		}
		
	    var classificationId;// = "{!classificationId}";
	    
	    /**
	     * invokes do select product
	     */
	    function invokeDoSelectProduct(selectedProductId, ruleActionId){
	        onActionClick();
	    	sfdcDoSelectProduct(selectedProductId, ruleActionId);
	    	
	    }		

	    /**
	     * invokes do replace product
	     */
	    function invokeDoReplaceProduct(selectedProductId, ruleActionId){
	        onActionClick();
	    	sfdcDoReplaceProduct(selectedProductId, ruleActionId);
	    	
	    }
	</script>
	
	<apex:stylesheet value="{!$Resource.Apttus_Config2__ConfigStyles}" />
	<apex:includeScript value="{!$Resource.Apttus_Config2__PricingJSLib}"/>
	
	<style>
		.ygtv-highlight .ygtv-highlight1,.ygtv-highlight .ygtv-highlight1 .ygtvlabel {
			background-color: #78c7c7;
			color: white;
		}
		
		li {
			margin-bottom: 4px;
		}

		.aptCurrency, .aptPercentage, .aptQuantity {
			display: inline;
		}

	</style>
	
	<apex:form id="idForm">
		
		<!--  required fields -->
		<apex:outputText value="{!Apttus_Config2__ProductConfiguration__c.Name}" rendered="false" />
		<apex:outputText value="{!Apttus_Config2__ProductConfiguration__c.Apttus_Config2__Description__c}" rendered="false" />
		<apex:outputText value="{!Apttus_Config2__ProductConfiguration__c.Apttus_Config2__SummaryGroupType__c}" rendered="false" />
		<apex:outputText value="{!Apttus_Config2__ProductConfiguration__c.Apttus_Config2__PriceListId__c}" rendered="false" />
		<apex:outputText value="{!Apttus_Config2__ProductConfiguration__c.Apttus_Config2__EffectiveDate__c}" rendered="false" />
		<apex:outputText value="{!Apttus_Config2__ProductConfiguration__c.Apttus_Config2__AccountId__c}" rendered="false" />
		
		<!--  Cart Header  -->
	    <c:CartHeader id="idCartHeader" 
	    			  cartId="{!ConfigurationId}" 
	    			  requestId="{!RequestId}" />
	    			  
		<apex:outputPanel rendered="{!loading}">

			<!-- Adding repeat component and grabbing arrayData (use to reference item) -->
			<apex:repeat value="{!classList}" var="cls">
				<script type="text/javascript">
				
				  	var clsNode = new Object();
				  	
				  	clsNode.name = "{!JSINHTMLENCODE(cls.name)}";
				  	clsNode.label = "{!JSINHTMLENCODE(cls.label)}";
				  	clsNode.parentId = "{!JSENCODE(cls.parentId)}";
				  	clsNode.Id = "{!JSENCODE(cls.nodeId)}";
				  	clsNode.lvl = "{!cls.nodeLvl}";
				  	clsNode.leaf = "{!cls.leaf}";
				  	clsNode.expanded = "{!cls.expanded}";
				  	clsNode.focus = "{!cls.focus}";
		  			clsNode.productCount = "{!cls.productCount}";
		  			clsNode.imageUrl = "{!JSENCODE(cls.imageUrl)}"
		  			
				  	YAHOO.force.com.clsNodes.push(clsNode);
				  	
					if (clsNode.imageUrl.length > 0 && YAHOO.force.com.createStyle != undefined) {
						YAHOO.force.com.createStyle(clsNode.Id, clsNode.imageUrl);
						
					}
					
				</script>
			</apex:repeat>
		</apex:outputPanel>
		
		<apex:outputPanel id="idBuildTreeNode">
			<apex:outputPanel rendered="{!buildTree}">
				<script type="text/javascript">
					YAHOO.force.com.clsNodes = new Array();
					classificationId = "{!JSENCODE(classificationId)}";
				</script>

				<apex:repeat value="{!classList}" var="cls">
					<script>
					  	var clsNode = new Object();
					  	
					  	clsNode.Id = "{!JSENCODE(cls.nodeId)}";
					  	clsNode.name = "{!JSINHTMLENCODE(cls.name)}";
					  	clsNode.label = "{!JSINHTMLENCODE(cls.label)}";
			  			clsNode.parentId = "{!JSENCODE(cls.parentId)}";
			  			clsNode.lvl = "{!cls.nodeLvl}";
			  			clsNode.leaf = "{!cls.leaf}";
			  			clsNode.expanded = "{!cls.expanded}";
			  			clsNode.focus = "{!cls.focus}";
			  			clsNode.productCount = "{!cls.productCount}";
			  			clsNode.imageUrl = "{!JSENCODE(cls.imageUrl)}";
			  			
					  	YAHOO.force.com.clsNodes.push(clsNode);
					  	
						if (clsNode.imageUrl.length > 0 && YAHOO.force.com.createStyle != undefined) {
							YAHOO.force.com.createStyle(clsNode.Id, clsNode.imageUrl);
							
						}
						
					</script>
				</apex:repeat>

				<script type="text/javascript">
						j$(document).ready(function(){
						// rebuild the tree
						YAHOO.force.com.buildTree();					
						
						// rebuild the detail panel
						YAHOO.force.com.buildDetailPanel();
						});
								
				</script>
				
			</apex:outputPanel>
			
		</apex:outputPanel>

		<hr style="font-size: 2px; font-weight: bold;" />
		<apex:outputPanel id="idSearchPanel"> 
		<table style="width: 100%">
			<tr>
				<td valign="top" style="min-width: 22em; text-align: left; padding-left: 2px;">
					<apex:outputPanel id="idChoosePanel" style="text-align:left;" layout="inline" rendered="{!NOT(HideHelpMeChoose)}">
						<apex:panelGrid columns="4">
							<apex:panelGroup >
								<apex:image url="{!$Resource.Apttus_Config2__HelpMeChoose}" 
											title="{!$Label.apttus_config2__Cart}" 
											alt="{!$Label.apttus_config2__Cart}" 
											style="padding-left: 3px;"/>
								<apex:commandLink action="{!doHelpMeChoose}" 
													 value="{!$Label.apttus_config2__HelpMeChoose}"
													 reRender="idErrorMsg"  
													 style="color:blue; font-weight: bold;"/>
								<apex:outputText value=" " style="padding-left: 3px;"/>
								<!-- Choose from LEAF CLASSIFICATIONS -->
								<apex:selectList id="idChooseClasses" 
												 size="1"
												 value="{!chooseClass}" 
												 multiselect="false">
									<apex:selectOptions value="{!chooseClasses}" />
								</apex:selectList>													 		 
							</apex:panelGroup>
						</apex:panelGrid>
					</apex:outputPanel>
				</td>
				<td valign="top" style="min-width: 20em; text-align: center;">
						<!-- 
						<apex:outputText value="{!$Label.CatalogProducts}" styleClass="btnDisabled"/>
						-->
						<apex:commandButton value="{!$Label.apttus_config2__InstalledProducts}" 
											action="{!doInstalledProducts}" 
										    onclick="onActionClick();" 
										    oncomplete="onActionComplete();"
										    rendered="{!isAssetEnabled}" 
										    />
											
						&nbsp;
						<apex:commandButton value="{!$Label.apttus_config2__GoToPricing}" 
											action="{!doViewCart}" 
										    onclick="onActionClick();" 
										    oncomplete="onActionComplete();"
										    immediate="true"
										    reRender="idErrorMsg, idRulesBlock" 
										    rendered="{!NOT(IsCartEmpty)}" />
										    
						&nbsp;
						<apex:commandButton value="{!$Label[CustomActionLabelName]}" 
											action="{!doCustomAction}" 
										    immediate="true"
										    reRender="idErrorMsg, idRulesBlock" 
										    rendered="{!HasCustomAction && NOT(IsCartEmpty)}" />
										    
				</td>
				<td valign="top" style="min-width: 30em; text-align: right;">
					<apex:outputPanel style="text-align: right;" layout="inline">
						<!-- SEARCH SECTION --> 
						<!-- LEAF CLASSIFICATIONS -->
						<apex:selectList id="idSearchClasses" 
										 size="1"
										 value="{!searchClass}" 
										 multiselect="false">
							<apex:selectOptions value="{!searchClasses}" />
						</apex:selectList>
							&nbsp;
						<!-- SEARCH INPUT -->
						<apex:inputText value="{!searchInputText}" onkeypress="if(handleEnterKeySearch(event)){return false;};" />
						<apex:commandButton value="{!$Label.apttus_config2__Search}" 
											action="{!doSearch}"
											onclick="onActionClick();" 
											oncomplete="onActionComplete();"
											rerender="idProductsBlock" />
					</apex:outputPanel>
				</td>
			</tr>
		</table>
		</apex:outputPanel>
		
		<apex:outputPanel id="idBrowsePanel">			
			<table style="width: 100%">
				<tr valign="top">
					<td style="width: {!CategoryTreeWidth}" valign="top">
						<apex:pageBlock id="idBrowseBlock">
							<apex:pageBlockSection title="{!$Label.apttus_config2__BrowseCategories}"
												   columns="1" 
												   collapsible="false">
								<apex:outputPanel >
									<div id="treeDiv" class="ygtv-highlight" />
								</apex:outputPanel>
							</apex:pageBlockSection>
						</apex:pageBlock>
					</td>


					<td style="width: {!ListedProductsWidth}" valign="top">
						<apex:pageBlock id="idProductsBlock">
							<apex:outputPanel id="idErrorMsg"> 
								<apex:pageMessages />
								<div style="padding-left: 1em;">
								<c:RuleMessageDisplay id="idRuleMessageComponent" configId="{!Id}" hasChoice="{!RuleResult.isEmpty == false}"/>
								</div>
							</apex:outputPanel>
							<apex:pageBlockSection columns="1" 
												   collapsible="false"
												   title="{!$Label.apttus_config2__CatalogProducts} ({!ListTitle})">
								
								   <apex:outputPanel id="idResultStatsPanel" 
												  styleClass="aptsPaginator"
												  layout="block"
												  rendered="{!hasProducts}">
									 	<apex:outputPanel id="idNavigationPanel" 
														  layout="inline"
														  style="text-align: right; width: 100%;">
											<table width="100%"><tr>
											<td style="text-align: left; vertical-align: middle;">			  
											<apex:outputText value="{!pageStartIndex}-{!pageEndIndex} {!$Label.apttus_config2__OutOf} {!totalRecords}" />
											&nbsp;&nbsp;
											<apex:selectList size="1"
														 value="{!pageSize}" 
														 multiselect="false"
														 onchange="onChangePagesize();"
														 styleClass="aptsPageInputSize"
														>
												<apex:selectOptions value="{!rowsPerPageList}" />
											</apex:selectList>
											</td>
											<td style="text-align: center; vertical-align: middle; text-color: red;">
												<apex:actionStatus id="idPageChangeStatus" 
						                           startText="{!$Label.apttus_config2__Loading}"
						                           stopText=""/>
						                    </td>
											<td style="text-align: right; vertical-align: middle;">
											<apex:image url="{!$Resource.Apttus_Config2__Image_FirstPageGray}"
															  rendered="{!NOT(hasPreviousPage)}"/> 
											<apex:image url="{!$Resource.Apttus_Config2__Image_FirstPage}"
															  rendered="{!hasPreviousPage}">
												<apex:actionSupport event="onclick" action="{!firstPage}" 
												 			  reRender="idProductsBlock" 
												 			  status="idPageChangeStatus"/>
											</apex:image>				 			  
											<apex:image url="{!$Resource.Apttus_Config2__Image_PreviousGray}"
															  rendered="{!NOT(hasPreviousPage)}"/> 
											<apex:image url="{!$Resource.Apttus_Config2__Image_Previous}"
															  rendered="{!hasPreviousPage}">
												<apex:actionSupport event="onclick" action="{!previousPage}" 
												 			  reRender="idProductsBlock" 
												 			  status="idPageChangeStatus"/>
											</apex:image>				 			  
											<apex:outputPanel layout="inline" 
														  	  style="text-align: right; width: 100%;">
												<apex:outputText value="{!$Label.apttus_config2__Page}" style="vertical-align: top;"/>
												<apex:inputText id="idCurrentPageNumber" 
																value="{!currentPageNumber}" 
																styleClass="aptsPageInput"
																onkeypress="return aptIgnoreEnterKey(event, invokeLoadPage);"
																>
													<apex:actionSupport event="onchange" action="{!loadPage}" 
																		rerender="idProductsBlock" 
																		status="idPageChangeStatus"/>
												</apex:inputText>
												<apex:outputText value="{!$Label.apttus_config2__OutOf} {!totalPages}" style="vertical-align: top;"/>
											</apex:outputPanel>
											<apex:image url="{!$Resource.Apttus_Config2__Image_NextGray}"
															  rendered="{!NOT(hasNextPage)}"/> 
											<apex:image url="{!$Resource.Apttus_Config2__Image_Next}"
															  rendered="{!hasNextPage}">
												<apex:actionSupport event="onclick" action="{!nextPage}" 
												 			  reRender="idProductsBlock" 
												 			  status="idPageChangeStatus"/>
											</apex:image>				 			  
											<apex:image url="{!$Resource.Apttus_Config2__Image_LastPageGray}"
															  rendered="{!NOT(hasNextPage)}"/> 
											<apex:image url="{!$Resource.Apttus_Config2__Image_LastPage}"
															  rendered="{!hasNextPage}">
												<apex:actionSupport event="onclick" action="{!lastPage}" 
												 			  reRender="idProductsBlock" 
												 			  status="idPageChangeStatus"/>
											</apex:image>				 			  
											</td></tr></table>	 			  
									   </apex:outputPanel>
										 
								   </apex:outputPanel>												   
								
					
<!-- ProductInfo -->
									<apex:pageBlockSection columns="1"
												   collapsible="false"
												   >
										<apex:pageBlockTable value="{!productInfos}" 
															 var="prd"
															 width="100%" 
															 rules="rows" 
															 rowClasses="oddRow, evenRow"
															 rendered="{!hasProducts}">
														 
											<apex:column style="{!prd.Style}"> 
												<apex:facet name="header">{!$Label.apttus_config2__Action}</apex:facet>
												<apex:outputPanel rendered="{!(prd.isShowSelect)}">
													<apex:commandLink value="{!$Label.apttus_config2__Select}"
																	    action="{!doSelectProduct}"
																	    onclick="onActionClick();" 
																		oncomplete="onActionComplete();"
																		style="color:blue;"
																	    reRender="idTopNavActions, idSearchPanel, idProductsBlock, idSelectedProductsBlock, idRulesBlock" >
														<apex:param name="param1" 
																	assignTo="{!selectProductId}"
																	value="{!prd.productSO.Id}" />
																	
													</apex:commandLink>
													<br/>
													<br/>
												</apex:outputPanel>
												<apex:outputPanel rendered="{!(prd.isShowSearch)}">  
													<apex:commandLink value="{!$Label.apttus_config2__GuideMe}"
																	    action="{!gotoSearchProduct}"
																	    onclick="onActionClick();" 
																		oncomplete="onActionComplete();"
																		style="color:blue;"
																	    reRender="idTopNavActions, idSearchPanel, idProductsBlock, idSelectedProductsBlock, idRulesBlock" >
														<apex:param name="param1" 
																	assignTo="{!selectProductId}"
																	value="{!prd.productSO.Id}" />
													</apex:commandLink>
													<br/>
													<br/>
												</apex:outputPanel>
												<apex:outputPanel rendered="{!(prd.isShowConfigure)}" >  
													<apex:commandLink value="{!$Label.apttus_config2__Configure}"
																	    action="{!doConfigureProduct}"
																		onclick="onActionClick();" 
																		oncomplete="onActionComplete();"
																		style="color:blue;"
																		rendered="{!NOT(HideConfigureAction)}"
																	    reRender="idTopNavActions, idSearchPanel, idProductsBlock, idSelectedProductsBlock, idRulesBlock" >
														<apex:param name="param1" 
																	assignTo="{!selectProductId}"
																	value="{!prd.productSO.Id}" />
													</apex:commandLink>
												</apex:outputPanel>
											</apex:column>
										
											<apex:column style="{!prd.Style}">
												<div style="float:left; height:100%; margin-left: 8px; position: relative"> 
					                                <apex:image value="{!URLFOR($Action.Attachment.Download, prd.imageSrc)}"
					                                            style="{!prd.iconStyle}"
					                                            onclick="j$.APTTUS.aptCreatePopup('{!prd.contentUrl}', '{!prd.productSO.Name}', {!prd.isEmbedType}); "
					                                            rendered="{!(prd.imageSrc != null)}" />
													<apex:outputPanel style="top:0; width:100%; height:100%; background-color:#ddd; opacity:.90; -moz-opacity:0.90; position:absolute; filter:alpha(opacity=90);"
																					  layout="block"	 
																				  rendered="{!prd.IsDisabled}" >
													</apex:outputPanel>
												</div>				
											</apex:column> 
										 
											<apex:column style="{!prd.Style}">
												<apex:facet name="header">{!$ObjectType.Product2.Fields.Name.Label}</apex:facet>
												<apex:commandLink rerender="dummy">
													<apex:image url="{!$Resource.Apttus_Config2__Image_Info}"
														onclick="getRemoteProductDetail('{!prd.productSO.Id}');"/>
												</apex:commandLink>	
												&nbsp;
												<apex:outputText value="{!prd.productSO.Name}"
																 style="font-weight:bold;" />
						
												<apex:outputText rendered="{!prd.checked}"><br></br>&nbsp;&radic;&nbsp;&nbsp;
													<apex:outputText style="color:blue" value="{!$Label.apttus_config2__Selected}" />
												</apex:outputText>
											</apex:column>
											<!-- Column2 -->											
											<apex:column style="{!prd.Style}" rendered="{!NOT(ProductColumn2Name == null)}">
												<apex:facet name="header">{!ProductColumn2Label}</apex:facet>
												<apex:outputField value="{!prd.productSO[ProductColumn2Name]}" />
											</apex:column>  
											<!-- Column3 -->											
											<apex:column style="{!prd.Style}" rendered="{!NOT(ProductColumn3Name == null)}">
												<apex:facet name="header">{!ProductColumn3Label}</apex:facet>
												<apex:outputField value="{!prd.productSO[ProductColumn3Name]}" />
											</apex:column>  
											<!-- Price Column -->
											<apex:column style="text-align: right;{!prd.Style}" rendered="{!NOT(HideListedProductsPriceColumn)}">
												<apex:facet name="header">{!$Label.apttus_config2__Price}</apex:facet>
												<apex:dataList value="{!prd.chargeList}"
																style="list-style: none; text-align: right; padding-right: 5px;" 
															   	var="price">
													<apex:outputPanel >
														<apex:outputText value="{0} - ">
															<apex:param value="{!price.chargeType}" />
														</apex:outputText>
														<div class="aptCurrency">
															<apex:outputField value="{!price.charge.Apttus_Config2__ListPrice__c}" />
														</div>
													</apex:outputPanel>
												</apex:dataList>
											</apex:column>
										</apex:pageBlockTable>
									</apex:pageBlockSection>
									<script>
										j$.APTTUS.formatFields("{!currencyFieldPrecision}", "{!percentageFieldPrecision}", "{!quantityFieldPrecision}");
									</script>
								<apex:outputText value="{!$Label.apttus_config2__NoRecordsToDisplay}"
												 rendered="{!NOT(hasProducts)}" />
											 
							</apex:pageBlockSection>
					</apex:pageBlock>
					</td> 
<!-- Right hand side of the page -->					
					<td style="width: {!SelectedProductsWidth}" valign="top">
						<apex:pageBlock id="idSelectedProductsBlock" rendered="{!NOT(IsRightSideHidden)}">
<!-- Start Shopping Cart -->
							<apex:pageBlockSection id="idSelectedProductsBlock"
													columns="1" 
												    collapsible="false"
												    title="{!$Label.apttus_config2__SelectedProducts}">
								<apex:outputPanel id="idLineItemPaginationPanel" 
												  styleClass="aptsPaginator"
												  layout="block"
												  rendered="{!lineItemPaging.hasDisplayLines}">
									 	<apex:outputPanel id="idLineItemPagination" 
														  layout="inline"
														  style="text-align: right; width: 100%;"
														  rendered="{!OR(lineItemPaging.hasNextPage,lineItemPaging.hasPreviousPage)}">
											<table width="100%"><tr>
											<td style="text-align: left; vertical-align: middle;">			  
												<apex:outputText value="{!lineItemPaging.pageStartIndex}-{!lineItemPaging.pageEndIndex} {!$Label.apttus_config2__OutOf} {!lineItemPaging.totalRecords}" />
											</td>
											<td style="text-align: center; vertical-align: middle; text-color: red;">
												<apex:actionStatus id="idLineItemPageChangeStatus" 
						                           startText="{!$Label.apttus_config2__Loading}"
						                           stopText=""/>
						                    </td>
											<td style="text-align: right; vertical-align: middle;">
											<apex:image url="{!$Resource.Apttus_Config2__Image_FirstPageGray}"
															  rendered="{!NOT(lineItemPaging.hasPreviousPage)}"/> 
											<apex:image url="{!$Resource.Apttus_Config2__Image_FirstPage}"
															  rendered="{!lineItemPaging.hasPreviousPage}">
												<apex:actionSupport event="onclick" action="{!firstLineItemPage}" 
												 			  reRender="idSelectedProductsBlock" 
												 			  status="idLineItemPageChangeStatus"/>
											</apex:image>				 			  
											<apex:image url="{!$Resource.Apttus_Config2__Image_PreviousGray}"
															  rendered="{!NOT(lineItemPaging.hasPreviousPage)}"/> 
											<apex:image url="{!$Resource.Apttus_Config2__Image_Previous}"
															  rendered="{!lineItemPaging.hasPreviousPage}">
												<apex:actionSupport event="onclick" action="{!previousLineItemPage}" 
												 			  reRender="idSelectedProductsBlock" 
												 			  status="idLineItemPageChangeStatus"/>
											</apex:image>				 			  
											<apex:outputText value="{!$Label.apttus_config2__Page}: {!lineItemPaging.currentPageNumber} {!$Label.apttus_config2__OutOf} {!lineItemPaging.totalPages}" style="vertical-align: top;"/>
											<apex:image url="{!$Resource.Apttus_Config2__Image_NextGray}"
															  rendered="{!NOT(lineItemPaging.hasNextPage)}"/> 
											<apex:image url="{!$Resource.Apttus_Config2__Image_Next}"
															  rendered="{!lineItemPaging.hasNextPage}">
												<apex:actionSupport event="onclick" action="{!nextLineItemPage}" 
												 			  reRender="idSelectedProductsBlock" 
												 			  status="idLineItemPageChangeStatus"/>
											</apex:image>
											<apex:image url="{!$Resource.Apttus_Config2__Image_LastPageGray}"
															  rendered="{!NOT(lineItemPaging.hasNextPage)}"/> 
											<apex:image url="{!$Resource.Apttus_Config2__Image_LastPage}"
															  rendered="{!lineItemPaging.hasNextPage}">
												<apex:actionSupport event="onclick" action="{!lastLineItemPage}" 
												 			  reRender="idSelectedProductsBlock" 
												 			  status="idLineItemPageChangeStatus"/>
											</apex:image>				 			  
															 			  
											</td></tr></table> 			  
										</apex:outputPanel>
										  
								</apex:outputPanel>	
																				   
<!-- Shopping Cart ProductInfo -->  
								<apex:pageBlockTable value="{!lineItemPaging.displayLines}" 
													 var="lineItem"
													 width="100%" 
													 rules="rows" 
													 rowClasses="oddRow, evenRow"
													 rendered="{!lineItemPaging.hasDisplayLines}">
									<!-- Start Group By Search Attribute Value -->
									<!-- Remove Button or Guide Me Link -->				 
									<apex:column style="width: 50px; max-width: 100px; white-space: nowrap; text-align: center;">
										<apex:facet name="header">{!$Label.apttus_config2__Action}</apex:facet>
										<apex:outputPanel rendered="{!lineItem.isSearchItem}">
											<apex:outputPanel rendered="{!(lineItem.searchAttrSO.Apttus_Config2__ValueType__c == ValueTypeDefault)}"> 
												<apex:commandLink value="{!$Label.apttus_config2__GuideMe}"
																    action="{!gotoSearchDefault}"
																    onclick="onActionClick();" 
																	oncomplete="onActionComplete();"
																	style="color: blue; white-space: nowrap;"
																    reRender="idTopNavActions, idSearchPanel, idProductsBlock, idSelectedProductsBlock, idRulesBlock" >
												</apex:commandLink>
											</apex:outputPanel>
											<apex:outputPanel rendered="{!(lineItem.searchAttrSO.Apttus_Config2__ValueType__c == ValueTypeProduct)}"> 
												<apex:commandLink value="{!$Label.apttus_config2__GuideMe}"
																    action="{!gotoSearchProduct}"
																    onclick="onActionClick();" 
																	oncomplete="onActionComplete();"
																	style="color:blue;"
																    reRender="idTopNavActions, idSearchPanel, idProductsBlock, idSelectedProductsBlock, idRulesBlock" >
														<apex:param name="param1" 
																assignTo="{!selectProductId}"
																value="{!lineItem.searchAttrSO.Apttus_Config2__BaseProductId__c}" />
												</apex:commandLink>
											</apex:outputPanel>
										</apex:outputPanel>
										<!-- Remove Product Linke -->
										<apex:outputPanel rendered="{!lineItem.isLineItem}">
											<apex:PanelGrid columns="2">
												<apex:commandLink rerender="dummy">
													<apex:image url="{!$Resource.Apttus_Config2__Image_Remove}" alt="{!$Label.apttus_config2__Remove}"
																onclick="YAHOO.force.com.showRemoveConfirmation('{!lineItem.lineItemSO.Apttus_Config2__LineNumber__c}');return false;"/>
												</apex:commandLink>
												<apex:commandLink rendered="{!lineItem.lineItemSO.Apttus_Config2__HasAttributes__c || lineItem.lineItemSO.Apttus_Config2__HasOptions__c}"
																	action="{!doConfigure}"
																	onclick="onActionClick();" 
																	oncomplete="onActionComplete();"
																	rerender="dummy">
													<apex:image url="{!$Resource.Apttus_Config2__Image_Configure}" alt="{!$Label.apttus_config2__Configure}"/>
													<apex:param name="p1" value="{!lineItem.lineItemSO.Id}" assignTo="{!proceedLineItemId}"/>			
												</apex:commandLink>
											</apex:PanelGrid>		
										</apex:outputPanel>
									</apex:column>
									<!-- Product Name Link -->	        	 
						        	<apex:column rendered="{!NOT(HideLineItemColumn1)}">
						        		<apex:facet name="header">{!$ObjectType.Apttus_Config2__LineItem__c.Fields.Apttus_Config2__ProductId__c.Label}</apex:facet>
						        		<apex:outputPanel rendered="{!lineItem.isSearchItem}"> 
							        		<apex:outputPanel rendered="{!(lineItem.searchAttrSO.Apttus_Config2__ValueType__c == ValueTypeDefault)}"> 
												<apex:outputText value="{!$Label.apttus_config2__SearchDefault}"/>
											</apex:outputPanel>
											<apex:outputPanel rendered="{!(lineItem.searchAttrSO.Apttus_Config2__ValueType__c == ValueTypeProduct)}">
												<apex:outputField value="{!lineItem.searchAttrSO.Apttus_Config2__BaseProductId__c}"></apex:outputField> 
											</apex:outputPanel>
										</apex:outputPanel>
										<!-- Related Product Link -->	
										<apex:outputPanel rendered="{!lineItem.isLineItem}">
											<apex:outputField value="{!lineItem.lineItemSO.Apttus_Config2__ProductId__c}"  
														 		style="font-size: 10px; font-weight: bold;" />
										</apex:outputPanel>				
									</apex:column>
									<!-- Column2 -->	        	 
						        	<apex:column >
										<apex:facet name="header">{!LineItemColumn2Label}</apex:facet>
										<apex:outputPanel rendered="{!lineItem.isLineItem}">
											<apex:outputText value="{!lineItem.extraColumn2}"/>
										</apex:outputPanel>				 
									</apex:column>													 
									<!-- Column3 -->	         	 
						        	<apex:column >
										<apex:facet name="header">{!LineItemColumn3Label}</apex:facet>
										<apex:outputPanel rendered="{!lineItem.isLineItem}">
											<apex:outputText value="{!lineItem.extraColumn3}"/>
										</apex:outputPanel>				 
									</apex:column>													 
									<!-- Column4 -->	        	 
						        	<apex:column >
										<apex:facet name="header">{!LineItemColumn4Label}</apex:facet>
										<apex:outputPanel rendered="{!lineItem.isLineItem}">
											<apex:outputText value="{!lineItem.extraColumn4}"/>
										</apex:outputPanel>				 
									</apex:column>													 
									<!-- End of Group By Search Attribute Value -->	
								</apex:pageBlockTable>
					
								<apex:outputText value="{!$Label.apttus_config2__NoRecordsToDisplay}"
												 rendered="{!NOT(lineItemPaging.hasDisplayLines)}" />
							</apex:pageBlockSection>

						</apex:pageBlock>
					</td> 
<!-- End Shopping Cart -->					
				</tr>
			</table>
		</apex:outputPanel>

<!-- Action Functions -->		
		<apex:actionFunction name="invokePageRefresh" 
							 reRender="idErrorMsg, idSelectedProductsBlock, idRulesBlock">
		</apex:actionFunction>		

		<apex:actionFunction name="sfdcDoSelectProduct" 
							 action="{!doSelectProduct}"
							 reRender="idTopNavActions, idSearchPanel, idProductsBlock, idSelectedProductsBlock, idRulesBlock" 
							 oncomplete="YAHOO.force.com.waitPanel.hide();" >
					<apex:param name="param1" assignTo="{!selectProductId}" value="" />
					<apex:param name="param2" assignTo="{!ruleActionId}" value="" />
		</apex:actionFunction>		

		<apex:actionFunction name="sfdcDoReplaceProduct"
							 action="{!doReplaceProduct}"
							 oncomplete="YAHOO.force.com.waitPanel.hide();"
							 reRender="idTopNavActions, idSearchPanel, idProductsBlock, idSelectedProductsBlock, idRulesBlock" >
					<apex:param name="param1" assignTo="{!selectProductId}" value="" />
					<apex:param name="param2" assignTo="{!ruleActionId}" value="" />
		</apex:actionFunction>			 
		
		<apex:actionFunction name="invokeDoSearch" 
							 action="{!doSearch}"
							 rerender="idBuildTreeNode, idBrowseBlock, idProductsBlock, idSelectedProductsBlock, idRulesBlock"
							 oncomplete="YAHOO.force.com.waitPanel.hide();" />
		
		<apex:actionFunction name="invokeDoSelectClassification"
							 action="{!doSelectClassification}"
							 reRender="idBuildTreeNode, idProductsBlock, idSelectedProductsBlock, idRulesBlock"
							 oncomplete="YAHOO.force.com.waitPanel.hide();" >
			<apex:param name="param" assignTo="{!classificationId}" value="" />
			<apex:param name="param2" assignTo="{!expansionInfo}" value="" />
		</apex:actionFunction>

		<apex:actionFunction name="invokeDoGetClassificationProducts"
							 action="{!doGetClassificationProducts}"
							 reRender="idBuildTreeNode, idProductsBlock, idSelectedProductsBlock, idRulesBlock"
							 oncomplete="YAHOO.force.com.waitPanel.hide();" >
			<apex:param name="param" assignTo="{!classificationId}" value="" />
			<apex:param name="param2" assignTo="{!expansionInfo}" value="" />
		</apex:actionFunction>
		
		<apex:actionFunction name="invokeDoAdjustPageSize"
							 action="{!doAdjustPageSize}"
							 oncomplete="YAHOO.force.com.waitPanel.hide();"
							 reRender="idProductsBlock, idProductsBlock" >
		</apex:actionFunction>
		
		<apex:actionFunction name="invokeDoHideMessage"
							 action="{!doHideMessage}"
							 reRender="idErrorMsg"
							 oncomplete="YAHOO.force.com.waitPanel.hide();" >
			<apex:param name="param" assignTo="{!appliedActionInfoId}" value="" />
		</apex:actionFunction>
		
		<apex:actionFunction name="invokeDoProcessMoreRules" 
							 action="{!doProcessMoreRules}"
							 reRender="idTopNavActions, idProductsBlock, idSelectedProductsBlock, idRulesBlock"
							 oncomplete="onActionComplete();" />
		
		<apex:actionFunction name="invokeDoDeleteLineItem" 
							 action="{!doDeleteLineItem}"
							 reRender="idTopNavActions, idSearchPanel, idProductsBlock, idSelectedProductsBlock, idRulesBlock" 
							 oncomplete="onActionComplete();">
			<apex:param name="firstParam" assignTo="{!lineItemLineNbr}" value="" />
		</apex:actionFunction>
		
		<apex:actionFunction name="invokeLoadPage" 
							 action="{!loadPage}"
							 reRender="idProductsBlock"
							 status="idPageChangeStatus">
		</apex:actionFunction>
		
<!-- This is the product details dialog -->
		<apex:outputPanel >
			<div id="productDetailPanel" style="display: none">
				<apex:outputPanel id="idCtxProductDetail">
				    <div class="hd">
				    	<apex:outputPanel >
				    		<span id="ctxProductName">Hello Name</span>
				        </apex:outputPanel>	
				    </div> 
				    <div class="bd">
			    		<apex:pageBlock >
			    			<apex:pageBlockSection columns="1">
			    				<apex:pageBlockSectionItem >
                    				<apex:outputLabel value="{!$ObjectType.Product2.Fields.Description.Label}" for="ctxProductDescription"/>
			    					<span id="ctxProductDescription">Hello Description</span>
				    			</apex:pageBlockSectionItem>
			    			</apex:pageBlockSection>
			    		</apex:pageBlock>
				    </div> 
				</apex:outputPanel>	
			</div>
		</apex:outputPanel>					
		
<!-- This is the select choice dialog -->
		<apex:outputPanel >
			<div id="choicePanel" style="display: block;">
				<apex:outputPanel id="idChoicePanel">
<!-- Start Choice Body -->

<!-- Start Rule Result -->		
		<div id="aptRuleResult" style="border: 2px solid gray; width: 100%; overflow: auto;">
						<apex:pageBlock id="idRulesBlock">
									<apex:outputPanel rendered="{!NOT(ruleResult.isEmpty)}">
										<div style="width: 100%; padding-left: 10px; padding-left: 10px;">	
											<div style="width: 100%; max-height: 6em; color: black; border: 1px solid #990000; padding-left: 5px; font-weight: bold; overflow: auto;">
												<apex:outputText value="{!ruleResult.Message}"/>
											</div> 
										</div>
									</apex:outputPanel>	
									<div style="{!ruleResult.tableStyle}">
									<apex:pageBlockSection columns="1" 
												   collapsible="false"
												   showHeader="{!ruleResult.isShowMessage}"
												   rendered="{!NOT(ruleResult.isEmpty)}"
												   >
										<apex:pageBlockTable value="{!ruleResult.productInfos}" 
															 var="prd"
															 width="100%" 
															 rules="rows" 
															 rowClasses="oddRow, evenRow"
															 >
											<apex:column > 
												<apex:commandButton value="{!$Label.apttus_config2__Select}"
																    disabled="{!prd.isDisabled}" 
																    action="{!doSelectProduct}"
																	reRender="idTopNavActions, idSearchPanel, idProductsBlock, idSelectedProductsBlock, idRulesBlock"
																	onclick="onActionClick();" 
																	oncomplete="YAHOO.force.com.waitPanel.hide();"
																    rendered="{!ruleResult.isSelect}"
																    >
														<apex:param name="param1" 
																	assignTo="{!selectProductId}"
																	value="{!prd.productSO.Id}" />
														<apex:param name="param2" 
																	assignTo="{!ruleActionId}"
																	value="{!ruleResult.ruleActionId}" />
														<apex:param name="ruleId" 
																	value="{!ruleResult.ruleId}" />
														<apex:param name="rulePrimaryNumber" 
																	value="{!ruleResult.PrimaryLineNumber}" />	
												</apex:commandButton>	
												<apex:commandButton value="{!$Label.apttus_config2__Select}"															    
																    action="{!doReplaceProduct}"
																    onclick="onActionClick();" 
																	oncomplete="YAHOO.force.com.waitPanel.hide();"
																	reRender="idTopNavActions, idSearchPanel, idProductsBlock, idSelectedProductsBlock, idRulesBlock" 																	
																	rendered="{!ruleResult.isReplace}"
																  	>
														<apex:param name="param1" 
																	assignTo="{!selectProductId}"
																	value="{!prd.productSO.Id}" />
														<apex:param name="param2" 
																	assignTo="{!ruleActionId}"
																	value="{!ruleResult.ruleActionId}" />
														<apex:param name="ruleId" 
																	value="{!ruleResult.ruleId}" />
														<apex:param name="rulePrimaryNumber" 
																	value="{!ruleResult.PrimaryLineNumber}" />	
												</apex:commandButton>												
												<apex:commandButton value="{!$Label.apttus_config2__Remove}" 
																    action="{!doRemoveProduct}" 
																    onclick="onActionClick();" 
																	oncomplete="onActionComplete();"
																	rendered="{!ruleResult.isRemove}"
																	reRender="idTopNavActions, idSearchPanel, idProductsBlock, idSelectedProductsBlock, idRulesBlock" >
													<apex:param name="param1" 
																assignTo="{!selectProductId}"
																value="{!prd.productSO.Id}" />
													<apex:param name="param2" 
																assignTo="{!ruleActionId}"
																value="{!ruleResult.ruleActionId}" />
													<apex:param name="rulePrimaryNumber" 
																value="{!ruleResult.PrimaryLineNumber}" />			
												</apex:commandButton>
											</apex:column>
										
											<apex:column >
												<div style="float:left; height:100%; margin-left: 8px; position: relative"> 
					                                <apex:image value="{!URLFOR($Action.Attachment.Download, prd.imageSrc)}"
					                                            style="{!prd.iconStyle}"
					                                            onclick="j$.APTTUS.aptCreatePopup('{!prd.contentUrl}', '{!prd.productSO.Name}', {!prd.isEmbedType}); "
					                                            rendered="{!(prd.imageSrc != null)}" />

													<apex:outputPanel style="top:0; width:100%; height:100%; background-color:#ddd; opacity:.90; -moz-opacity:0.90; position:absolute; filter:alpha(opacity=90);"
																				  layout="block"	 
																				  rendered="{!prd.IsDisabled}" >
													</apex:outputPanel>
												</div>			
											</apex:column> 
										 
											<apex:column >
												<apex:commandLink rerender="dummy">
													<apex:image url="{!$Resource.Apttus_Config2__Image_Info}"
														onclick="getRemoteProductDetail('{!prd.productSO.Id}');"/>
												</apex:commandLink>	
												&nbsp;
												<apex:outputText value="{!prd.productSO.Name}"
																 style="font-weight:bold;" />
						
												<apex:outputText rendered="{!prd.checked}"><br></br>&nbsp;&radic;&nbsp;&nbsp;
													<apex:outputText style="color:blue" value="{!$Label.apttus_config2__Selected}" />
												</apex:outputText>
												
											</apex:column>
										
											<apex:column style="text-align: right" rendered="{!NOT(HideListedProductsPriceColumn)}">
												<apex:dataList value="{!prd.chargeList}"
																style="list-style: none; text-align: right; padding-right: 5px;" 
															   	var="price">
														<apex:outputPanel >
															<apex:outputText value="{0} - ">
																<apex:param value="{!price.chargeType}" />
															</apex:outputText>
															<div class="aptCurrency">
																<apex:outputField value="{!price.charge.Apttus_Config2__ListPrice__c}" />
															</div>
														</apex:outputPanel>
												</apex:dataList>
											</apex:column>
										</apex:pageBlockTable>
									</apex:pageBlockSection>
									</div>
<!-- End Rule Result -->								
							
<!-- End Choice Body -->
				    <div>
				        <div style="text-align: center;" >
				        <apex:outputPanel >
				        	<!-- 
				        	<input type="button" value="{!$Label.apttus_config2__Cancel}" style="width: 60px;" onclick="YAHOO.force.com.choicePanel.hide();"/>
							-->		
							<apex:commandButton value="{!$Label.apttus_config2__Cancel}"
											    action="{!doIgnoreAction}" 
											    onclick="onActionClick();"  
												oncomplete="onActionComplete();"
												reRender="idErrorMsg, idTopNavActions, idSearchPanel, idProductsBlock, idSelectedProductsBlock, idRulesBlock" >
													<apex:param name="param1" 
																assignTo="{!ignoreActionId}"
																value="{!ruleResult.ruleActionId}" />
													<apex:param name="rulePrimaryNumber" 
																value="{!ruleResult.PrimaryLineNumber}" />			
							</apex:commandButton>		
						</apex:outputPanel>
								
						</div>
					</div> 
					</apex:pageBlock>
				    </div> 
				</apex:outputPanel>	
			</div>
		</apex:outputPanel>	
	 
<!-- This is the content of the confirmation dialog -->
		<apex:outputPanel >
			<div id="confirmationPanel" style="display: none">
			    <div class="hd">
			        <apex:outputText value="{!$Label.apttus_config2__RemoveConfirmation}" />
			    </div> 
			    <div class="bd">
			    	<apex:outputText value="{!$Label.apttus_config2__RemoveProductMessage}" />
			    </div>
			    <div class="bd">
		            <apex:actionRegion >
		                <div style="text-align: center; padding-left: 4px;" >
		                    <apex:commandButton value="{!$Label.apttus_config2__Yes}"
		                    					onclick="YAHOO.force.com.remove();"
		                    					style="width: 50px;"   
		                    					immediate="true" 
		                    					oncomplete="YAHOO.force.com.confirmationPanel.hide();" />
		                    <apex:commandButton value="{!$Label.apttus_config2__No}" 
		                    					style="width: 50px;"   
		                    					onclick="YAHOO.force.com.confirmationPanel.hide();return false;" />
		                </div>
		            </apex:actionRegion>
			    </div>
			</div>
		</apex:outputPanel>		 

<!-- This is the prevent selection alert dialog -->
		<apex:outputPanel >
			<div id="alertPanel" style="display: none">
				<apex:outputPanel id="idAlertPanel">
				    <div class="bd" style="text-align: center;">
					<apex:pageBlock >
						<apex:pageBlockSection columns="1">
							<div id="alertBody">Body of Alert
<!-- Start Body of Alert -->							

							
<!-- End Body of Alert -->							
							</div>    						
						</apex:pageBlockSection>
					</apex:pageBlock>
				    </div> 
				    <div class="bd">
				    <div style="text-align: center;" >
					<input type="button" value="{!$Label.Ok}" style="width: 60px;"
						onclick="YAHOO.force.com.alertPanel.hide();"/>
				    </div>
				</div> 
				</apex:outputPanel>	  
			</div>
		</apex:outputPanel>	

	</apex:form>
	
	<script type="text/javascript">
		
		var aptsOnload = function(){
			try {
				YAHOO.util.Event.onDOMReady(YAHOO.force.com.onDOMReady);
				YAHOO.util.Event.onDOMReady(YAHOO.force.com.onDOMReady2);
				//when the page is loaded with pending processing of rules
				if(needMoreProcessing){
					YAHOO.force.com.waitPanel.show();
					invokeDoProcessMoreRules();
				}else if(showChoicePanel){
					YAHOO.force.com.waitPanel.hide();
					YAHOO.force.com.choicePanel.show();
				}
				
			} catch(e){
				location.reload(true);//fixes IE9 issue where JavaScript files are not reloaded when changed
				
			}
			
		}
		//combine onload functions
	  	window.onload = combineFunction(window.onload, aptsOnload);

	</script>
	
</apex:page>